<body>
<!-- Start scroll top button -->
<a class="scrollToTop" href=""><i class="fa fa-chevron-up"></i></a>
<!-- End scroll top button -->
<div class="nav-wrapper">
  <section class="landing-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <a href="/"><img src="/images/logo_v2.png" style="height:50px"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 txt-right">
          <a class="cirrus-button" style="margin-top:0px;">demo</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Start page content [index.ejs] -->

