<div class='page-navbar' id="sub-sticker">
	<div class='container'>
		<ul class="nav nav-tabs" id="solutionTab">
			<span class="glyphicon width-100" id="nav-hover"></span>
			<li id="quickbasenav"><a href="/solution/quickbase">QuickBase®</a></li>
			<li id="consultingnav"><a href="/solution/consulting">App Software Consulting</a></li>
			<li id="spreadsheetnav"><a href="/solution/spreadsheet">Spreadsheet</a></li>
			<!-- <li id="customnav"><a href="/solution/custom-solutions">Custom Solutions</a></li>
			<li id="integrationnav"><a href="/solution/integrations">Integrations</a></li> -->
		</ul>
	</div>
</div>