<div class="page-wrapper">

	<div class='container-fluid'>
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" role="tablist" id="solutionTab">
					<li class="active"><a href="solution" data-toggle="tab">QuickBase®</a></li>
					<li><a href="spreadsheet" data-toggle="tab">Spreadsheet</a></li>
					<li><a data-target="#consulting" data-toggle="tab">App Software Consulting</a></li>
					<li><a data-target="#custom" data-toggle="tab">Custom Solutions</a></li>
					<li><a data-target="#integration" data-toggle="tab">Integrations</a></li>
				</ul>
			</div>
		</div>