@charset "UTF-8";
/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
/* Theme Colors */
/* ----------------------------------------------------------- */
/*  FONTS
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/*  GLOBAL 
/* ----------------------------------------------------------- */
html {
  font-size: 100%; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  font-weight: 300;
  overflow-x: hidden !important;
  color: #303442;
  position: relative; }
  @media (max-width: 480px) {
    body {
      font-size: 14px; } }

h1, h2, h3, h4 {
  font-weight: 300;
  color: #303442; }

h1 {
  font-size: 3.125rem;
  margin-top: 10px; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 2.125rem;
  margin-top: 10px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.75rem; } }

@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem; } }

@media (max-width: 768px) {
  h4 {
    font-size: 15px; } }

.fa {
  width: 100%; }

ul {
  list-style: none;
  padding-left: 0px; }
  ul h4 {
    font-weight: 500; }

.page-wrap {
  margin-top: 140px; }
  @media (max-width: 768px) {
    .page-wrap {
      margin-top: 110px; } }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.tooltip-inner {
  color: #F1C40F;
  border: 1px solid #F1C40F;
  background: #fff;
  padding: 5px; }

.tooltip.top .tooltip-arrow {
  border-top-color: #F1C40F; }

#owl-header .item img {
  display: block;
  width: 100%;
  height: auto; }

.owl-controls.clickable {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -40px; }

/* ----------------------------------------------------------- */
/*  PRESETS
/* ----------------------------------------------------------- */
/*--------------------*/
/* COLORS */
/*--------------------*/
#txt-white {
  color: #fff; }

#txt-red {
  color: #E51890; }

#txt-red-light {
  color: #FF6186; }

#txt-blue {
  color: #249AD6; }

#txt-green {
  color: #81BE41; }

#txt-orange {
  color: #F89C27; }

#txt-gray {
  color: #7d7d7d; }

#txt-purple {
  color: #7768ae; }

#txt-black {
  color: #303442; }

#txt-yellow {
  color: #F1C40F; }

#txt-gray-pale {
  color: #f6f6f6; }

.background-orange {
  background-color: #F89C27; }

.background-red {
  background-color: #E51890; }

.background-green {
  background-color: #81BE41; }

.background-blue {
  background-color: #249AD6; }

.background-purple {
  background-color: #7768ae; }

.background-gray-pale {
  background-color: #f6f6f6; }

.background-blackish {
  background-color: #303442; }

.background-white {
  background-color: #fff; }

.background-pattern1 {
  background: linear-gradient(135deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px), linear-gradient(225deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px) 0 64px;
  background-color: #f6f6f6;
  background-size: 64px 128px; }

.background-pattern2 {
  background: linear-gradient(225deg, #fbfbfb 45px, transparent 45px) 64px 64px, linear-gradient(225deg, #fbfbfb 45px, transparent 45px, transparent 91px, #fff 91px, #fff 135px, transparent 135px), linear-gradient(-225deg, #fbfbfb 23px, transparent 23px, transparent 68px, #fbfbfb 68px, #fbfbfb 113px, transparent 113px, transparent 158px, #fbfbfb 158px);
  background-color: #fff;
  background-size: 128px 128px; }

.background-pattern3 {
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #d9eef9;
  background-size: 110px 200px;
  background-repeat: repeat-x; }

/*--------------------*/
/* POSITIONS */
/*--------------------*/
.border-bottom-gray {
  border-bottom: 1px solid #f6f6f6; }

.header-margin-bottom {
  margin-bottom: 30px; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }
  @media (max-width: 768px) {
    .no-padding {
      padding-right: 15px;
      padding-left: 15px; } }

.no-padding-side {
  padding-left: 0px;
  padding-right: 0px; }

.vmid {
  vertical-align: middle; }

.no-abs-padding {
  padding: 0px; }

#no-abs-margin {
  margin: 0px; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.vcenter {
  top: 50%;
  transform: translateY(-50%); }

.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }
  @media (max-width: 768px) {
    .width-50 {
      width: 100%; } }

.width-175 {
  width: 175px; }

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 768px) {
    .padding-100 {
      padding-top: 35px;
      padding-bottom: 35px; } }

.margin-bot {
  margin-bottom: 50px; }

.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .padding-50 {
      padding-top: 25px;
      padding-bottom: 25px; } }

.padding-side-30 {
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 768px) {
    .padding-side-30 {
      padding-left: 15px;
      padding-right: 15px; } }

.padding-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-all-50 {
  padding: 50px; }
  @media (max-width: 480px) {
    .padding-all-50 {
      padding: 20px; } }

.begone {
  display: none; }

/*--------------------*/
/* ETC */
/*--------------------*/
.list-square {
  list-style: square inside;
  line-height: 30px; }

.list-circle {
  list-style: disc outside;
  line-height: 30px; }
  @media (max-width: 768px) {
    .list-circle {
      list-style: disc inside; } }

.fw-600 {
  font-weight: 600; }

/* ----------------------------------------------------------- */
/*  SCROLL TO TOP
/* ----------------------------------------------------------- */
.scrollToTop {
  background: #f6f6f6 none repeat scroll 0 0;
  opacity: 0.8;
  border-radius: 50%;
  bottom: 60px;
  display: none;
  font-size: 25px;
  height: 55px;
  line-height: 50px;
  position: fixed;
  right: 50px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999; }
  .scrollToTop .fa {
    width: inherit; }
  .scrollToTop:hover {
    color: #fff;
    text-decoration: none;
    outline: none; }
  .scrollToTop:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }

/* ----------------------------------------------------------- */
/*  HEADER 
/* ----------------------------------------------------------- */
#home-banner {
  height: 500px;
  background: url("../images/banner_test.jpg") no-repeat left 45% bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5.625rem 0; }
  @media (max-width: 1199px) {
    #home-banner {
      padding: 3.235rem; } }
  @media (max-width: 991px) {
    #home-banner {
      padding: 2.8125rem;
      background-position: top center; } }
  @media (max-width: 768px) {
    #home-banner {
      padding: 2.2125rem; } }
  @media (max-width: 480px) {
    #home-banner {
      padding-top: 1.5125rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }

.banner-content {
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  color: #303442; }
  .banner-content .button-default {
    border-color: #81BE41;
    color: #81BE41;
    margin-left: 0;
    margin-right: 0; }
    .banner-content .button-default:hover {
      background-color: #81BE41;
      border-color: #81BE41; }

.banner-h1 {
  margin-bottom: 20px;
  text-transform: none;
  font-weight: 300;
  color: #303442; }

.banner-h3 {
  text-transform: none;
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 300;
  color: #303442; }
  @media (max-width: 768px) {
    .banner-h3 {
      font-size: 1.375rem;
      line-height: 1.75rem; } }
  @media (max-width: 480px) {
    .banner-h3 {
      font-size: 1rem;
      line-height: 1.25rem; } }

/* ----------------------------------------------------------- */
/*  HOMEPAGE 
/* ----------------------------------------------------------- */
.home-contact-us {
  background: linear-gradient(135deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px), linear-gradient(225deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px) 0 64px;
  background-color: #f6f6f6;
  background-size: 64px 128px; }

/* ----------------------------------------------------------- */
/*  SUB FOOTER 
/* ----------------------------------------------------------- */
.home-cta {
  background: #249AD6; }
  .home-cta .row {
    margin: 0; }

.home-cta-content {
  text-align: center;
  padding: 25px 0; }
  .home-cta-content h3 {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 10px 20px 10px 0; }
    @media (max-width: 480px) {
      .home-cta-content h3 {
        padding: 10px 20px 10px 0; } }
  .home-cta-content button {
    display: inline-block;
    float: none;
    margin: 0px; }

#home-cta-btn {
  border: 1px solid #fff;
  background: white;
  color: #249AD6; }
  #home-cta-btn:hover {
    background-color: #249AD6; }

/* ----------------------------------------------------------- */
/*  MAIN NAVIGATION 
/* ----------------------------------------------------------- */
.nav-wrapper {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0); }

.home-header {
  background: #f6f6f6;
  color: #7d7d7d;
  text-align: right;
  height: 40px; }
  .home-header ul {
    margin: 0;
    float: right; }
    .home-header ul li {
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      padding: 10px; }
      .home-header ul li a {
        text-decoration: none;
        font-weight: 300;
        color: #7d7d7d; }
        .home-header ul li a:hover {
          transition: 0.5s all;
          color: #249AD6; }

@media (max-width: 991px) {
  .home-navbar {
    font-size: 12px; } }
@media (max-width: 768px) {
  .home-navbar {
    width: 400px;
    font-size: 17px; } }

.navbar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0; }

.navbar-default {
  height: 100px;
  background: #fff;
  border: none;
  margin-bottom: 0;
  /*.navbar-header > a {
  	padding-top: 0px;
  	padding-bottom: 0px;
  	}*/ }
  @media (max-width: 768px) {
    .navbar-default {
      height: 70px; } }
  .navbar-default .navbar-nav {
    margin-top: 35px; }
    .navbar-default .navbar-nav .active a {
      background: #fff;
      color: #249AD6; }
      .navbar-default .navbar-nav .active a:hover {
        background: #fff;
        color: #249AD6; }
    .navbar-default .navbar-nav li a {
      line-height: 35px;
      font-weight: 600;
      padding-top: 0px;
      padding-bottom: 0px;
      letter-spacing: 1.8px;
      color: #303442; }
      .navbar-default .navbar-nav li a:hover {
        border-bottom: 2px solid #249AD6;
        background: #fff;
        color: #249AD6; }
      @media (max-width: 768px) {
        .navbar-default .navbar-nav li a {
          line-height: 50px; }
          .navbar-default .navbar-nav li a:hover {
            border: none; } }
  .navbar-default .navbar-toggle {
    margin-bottom: 0px;
    margin-top: 15px;
    border-color: #249AD6;
    color: #249AD6; }
    .navbar-default .navbar-toggle:hover {
      background-color: #249AD6;
      color: white; }
    .navbar-default .navbar-toggle:focus {
      background-color: #249AD6;
      color: #fff; }

@media (max-width: 768px) {
  .navbar-side .side-collapse {
    height: 100vh;
    left: 0;
    width: 400px;
    position: absolute;
    overflow: auto;
    z-index: 999;
    transition: all 0.5s; }
    .navbar-side .side-collapse:-webkit-scrollbar {
      display: none; }
  .navbar-side .side-collapse.open {
    width: 0; } }
@media (max-width: 480px) {
  .navbar-side .side-collapse {
    width: 100%; } }

.navbar-brand {
  height: 100px;
  display: flex;
  align-items: center; }
  .navbar-brand img {
    height: 50px; }
  @media (max-width: 768px) {
    .navbar-brand {
      height: 70px; } }

/* ----------------------------------------------------------- */
/*  OWN CAROUSEL 
/* ----------------------------------------------------------- */
#sync1 .item {
  background: transparent;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  #sync1 .item p {
    font-size: 18px;
    line-height: 35px;
    font-style: italic; }

#sync2 {
  display: flex;
  align-items: center; }
  #sync2 .item {
    background: transparent;
    padding: 20px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer; }

#sync2 .item {
  opacity: 0.3; }

#sync2 .synced .item {
  opacity: 1; }

/* ----------------------------------------------------------- */
/*  SUB NAVIGATION 
/* ----------------------------------------------------------- */
.page-navbar {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 1;
  background: #249AD6; }
  @media (max-width: 768px) {
    .page-navbar {
      background: #fff;
      border: none;
      margin: 0; } }
  @media (max-width: 768px) {
    .page-navbar .container {
      padding: 0; } }

.nav-tabs li.active > a {
  border: none;
  color: #249AD6;
  background: #fff;
  border-radius: 0px; }
  .nav-tabs li.active > a:hover {
    color: #249AD6;
    background: #fff;
    border: none;
    cursor: pointer; }
    @media (max-width: 768px) {
      .nav-tabs li.active > a:hover {
        background: #249AD6; } }
.nav-tabs li a {
  color: #fff;
  border: none; }
  .nav-tabs li a:hover {
    transition: all 0.3s;
    border-radius: 0px;
    cursor: pointer;
    background: #fff;
    border: none;
    color: #249AD6; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  border: none; }

.tab-pane {
  padding: 0px 5px; }

#nav-hover {
  display: none; }
  @media (max-width: 768px) {
    #nav-hover {
      display: block;
      position: absolute;
      text-align: center;
      height: 40px;
      padding-top: 12px;
      color: white;
      font-family: "Work Sans", sans-serif;
      top: 0;
      right: 0;
      background-color: transparent; } }

.responsive-tabs.nav-tabs {
  height: 100%;
  border-bottom: none; }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs {
      background-color: #249AD6;
      /*z-index: 10;*/
      height: 40px;
      border-bottom: none; } }

.responsive-tabs.nav-tabs span.glyphicon.glyphicon-triangle-top {
  display: none; }

.responsive-tabs.nav-tabs span.glyphicon {
  display: none; }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs span.glyphicon {
      z-index: 101;
      position: absolute;
      top: 14px;
      right: 22px;
      display: block;
      color: #0780BA; } }

.responsive-tabs.nav-tabs > li:last-of-type > a {
  margin-right: 0; }

.responsive-tabs.nav-tabs > li > a {
  margin-right: 4px;
  font-weight: 300; }
  @media (max-width: 991px) {
    .responsive-tabs.nav-tabs > li > a {
      font-size: 12px; } }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs > li > a {
      font-size: 14px;
      margin-right: 0;
      background: #249AD6;
      color: #fff;
      border: none; } }
  @media (max-width: 768px) and (max-width: 768px) {
    .responsive-tabs.nav-tabs > li > a:hover {
      border: none;
      background: #249AD6;
      color: #0780BA; } }

.responsive-tabs.nav-tabs > li.active {
  display: block; }

@media (max-width: 768px) {
  .responsive-tabs.nav-tabs > li.active a {
    color: #d9eef9; } }

.responsive-tabs.nav-tabs > li {
  margin-bottom: 0px;
  display: block;
  float: left; }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs > li {
      display: none;
      float: none;
      text-align: center; } }

.responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-top {
  display: none; }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-top {
      display: block; } }

.responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-bottom {
  display: none; }

.responsive-tabs.nav-tabs.open > li {
  display: block; }

.responsive-tabs.nav-tabs.open > li a {
  border-radius: 0; }

.responsive-tabs.nav-tabs.open > li:first-of-type a {
  /*border-radius: 2px 2px 0 0;*/ }
  @media (max-width: 768px) {
    .responsive-tabs.nav-tabs.open > li:first-of-type a {
      margin-top: 40px; } }

.responsive-tabs.nav-tabs.open > li:last-of-type a {
  /*border-radius: 0 0 2px 2px;*/ }

/* ----------------------------------------------------------- */
/*  SOLUTIONS 
/* ----------------------------------------------------------- */
#solution-menu li .active {
  transition: all 0.5s;
  background: #fff;
  color: #249AD6;
  border-radius: 0px;
  border: none; }
  @media (max-width: 768px) {
    #solution-menu li .active {
      background: #0780BA;
      color: #fff; } }

.tab-subpages .fa {
  font-size: 180px; }

.tab-pane {
  margin-top: 37px; }

.page-wrapper .container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
.page-wrapper .tab-pane {
  padding-left: 0px;
  padding-right: 0px; }
@media (max-width: 768px) {
  .page-wrapper {
    margin-top: 0px; } }

/*--------------------*/
/* QUICKBASE */
/*--------------------*/
.features-container h4 {
  font-weight: 500; }

#quickbase {
  padding-top: 0px; }

.quickbase-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem; }

.header-quickbase:before {
  content: "\f0c2";
  position: absolute;
  display: block;
  font-size: 35px;
  height: 30px;
  width: 30px;
  top: 15px;
  left: -45px;
  font-family: FontAwesome;
  font-style: normal; }

.popout-banner {
  position: relative;
  width: 100%;
  height: auto;
  display: block; }

.popout-banner-image {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://placehold.it/1600x350") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px; }
  @media (max-width: 768px) {
    .popout-banner-image {
      height: 250px;
      margin-left: 0;
      margin-right: 0; } }

.popout-box {
  position: absolute;
  width: 100%;
  max-width: 31.25rem;
  margin-top: 50px;
  margin-bottom: -50px;
  padding: 50px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 31.25rem;
  transition: all 0.3s ease-in;
  transition-property: margin, left; }
  .popout-box .popout-box-content h1 {
    margin-top: 0px; }
    @media (max-width: 991px) {
      .popout-box .popout-box-content h1 {
        font-size: 24px; } }
    @media (max-width: 768px) {
      .popout-box .popout-box-content h1 {
        margin-top: 0px; } }
  .popout-box .popout-box-content p:before {
    background-color: #fff;
    left: 0;
    margin-left: 0;
    transform: translateX(0);
    content: '';
    position: relative;
    display: block;
    width: 200px;
    height: 1px;
    margin: 20px 0px; }
  @media (max-width: 768px) {
    .popout-box .popout-box-content p {
      font-size: 14px; } }
  .popout-box .popout-box-content .button {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    margin: 0px;
    margin-top: 10px; }
    .popout-box .popout-box-content .button:after {
      padding-top: 5px;
      padding-bottom: 5px; }
    .popout-box .popout-box-content .button span {
      padding-top: 5px;
      padding-bottom: 5px; }
  @media (max-width: 991px) {
    .popout-box {
      width: 50%;
      margin: 0px;
      height: 100%; } }
  @media (max-width: 768px) {
    .popout-box {
      width: 100%;
      max-width: none;
      position: relative;
      padding: 25px;
      border-radius: 0px; } }

.icon-box {
  text-align: center;
  margin-bottom: 25px; }

.icon-box-small {
  max-width: 68px;
  max-height: 56px;
  text-align: center;
  float: left; }

.uses-text-box {
  max-width: 458px;
  padding-left: 100px; }

.whyquickbase-container {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #249AD6 79px, #249AD6 81px, transparent 81px), linear-gradient(#f6f6f6 0.1em, transparent 0.1em);
  background-size: 100% 1.2em; }
  .whyquickbase-container .icon-wrapper {
    margin-bottom: 30px; }
    .whyquickbase-container .icon-wrapper p {
      font-weight: 500; }

.uses-container {
  background-color: #fff;
  background-image: linear-gradient(270deg, transparent 79px, #F89C27 79px, #F89C27 81px, transparent 81px), linear-gradient(#f6f6f6 0.1em, transparent 0.1em);
  background-size: 100% 1.2em; }
  .uses-container h4 {
    font-weight: 500; }
  .uses-container .uses-list {
    margin-bottom: 50px; }

/*--------------------*/
/* SPREADSHEETS */
/*--------------------*/
.page-banner {
  padding: 50px;
  text-align: center;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/solutions.jpeg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (max-width: 480px) {
    .page-banner {
      padding: 30px; } }
  .page-banner h1 {
    color: #fff; }
  .page-banner p {
    color: #fff; }

.spreadsheet-list {
  list-style-image: url("/images/orange_bullet.png");
  list-style-position: inside; }
  .spreadsheet-list li {
    margin-bottom: 15px; }

.request-wrapper {
  background: linear-gradient(135deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px), linear-gradient(225deg, #f6f6f6 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px) 0 64px;
  background-color: #f6f6f6;
  background-size: 64px 128px; }

.tab-spreadsheet .fa {
  font-size: 180px; }
.tab-spreadsheet .spreadsheet-graphic {
  text-align: center; }
  .tab-spreadsheet .spreadsheet-graphic i {
    font-size: 150px;
    padding: 30px; }
  .tab-spreadsheet .spreadsheet-graphic .fa {
    width: 100%; }
.tab-spreadsheet blockquote {
  padding: 50px; }
  .tab-spreadsheet blockquote p {
    color: #7d7d7d;
    font-size: 25px;
    font-style: italic; }
    @media (max-width: 480px) {
      .tab-spreadsheet blockquote p {
        font-size: 16px; } }
  @media (max-width: 480px) {
    .tab-spreadsheet blockquote {
      padding: 18px; } }

#underline {
  border-bottom: 2px solid #f6f6f6;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 10%; }

#underline-gray {
  border-bottom: 2px solid #7d7d7d;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 10%; }

.spreadsheet-content {
  padding-top: 25px; }

.spreadsheet-footer {
  text-align: center; }

.header-spreadsheet:before {
  content: "\f0ce";
  position: absolute;
  display: block;
  font-size: 35px;
  height: 30px;
  width: 30px;
  top: 15px;
  left: -45px;
  font-family: FontAwesome;
  font-style: normal;
  /*@include laptop {
  	top: -4px;
  	}*/ }

/*--------------------*/
/* CONSULTING */
/*--------------------*/
.consulting-banner {
  height: 275px;
  background-color: #F89C27; }

.tab-consulting .fa {
  font-size: 180px;
  color: #d9eef9; }
.tab-consulting ul {
  list-style: disc outside;
  line-height: 30px; }

@media (max-width: 768px) {
  .page-icon-col {
    display: none; } }

.header-consulting:before {
  content: "\f20e";
  position: absolute;
  display: block;
  font-size: 35px;
  height: 30px;
  width: 30px;
  top: 15px;
  left: -45px;
  font-family: FontAwesome;
  font-style: normal; }

/* ----------------------------------------------------------- */
/*  ABOUT 
/* ----------------------------------------------------------- */
.about-text-box {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.22);
  position: absolute;
  background-color: #fff;
  padding: 30px;
  /*z-index: 2;*/
  max-width: 31.25rem;
  margin-top: -60px; }
  @media (max-width: 768px) {
    .about-text-box {
      margin-top: 0;
      width: 100%;
      max-width: none;
      position: relative;
      box-shadow: none; } }

.about-banner {
  display: flex;
  align-items: center;
  padding: 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://placehold.it/1200x800") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px; }
  @media (max-width: 768px) {
    .about-banner {
      height: 140px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 30px;
      padding-bottom: 30px; } }

.about-banner-content-container {
  position: relative;
  width: 100%; }

.about-image-box {
  position: relative;
  margin-top: 250px;
  margin-bottom: -35px; }
  @media (max-width: 768px) {
    .about-image-box {
      margin-top: 0;
      margin-bottom: 0; } }

.about-panels {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0px; }
  .about-panels:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }
  .about-panels .panel-body {
    padding: 0px; }
  .about-panels .panel-footer {
    color: #fff; }
    .about-panels .panel-footer h3 {
      font-weight: bold;
      color: #fff; }

.about-story h3 {
  color: #249AD6; }

.about-values h3 {
  color: #249AD6; }

/* Crew */
.crew-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://placehold.it/1200x800") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.solution-row {
  display: flex;
  margin-bottom: 15px; }
  .solution-row h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #249AD6; }
  .solution-row .fa {
    color: #7768ae;
    font-size: 40px;
    width: 40px;
    text-align: center; }
    @media (max-width: 768px) {
      .solution-row .fa {
        font-size: 30px;
        width: 30px; } }
  .solution-row div {
    display: block; }

#about {
  /*background-color: #fff;*/
  padding: 70px 0;
  /*	float: left;
  display: inline;
  width: 100%;*/ }

#whyCirrusOps {
  background: #f6f6f6; }

.welcome-field {
  float: left;
  display: inline;
  width: 100%; }

.about-title-field {
  display: inline;
  float: left;
  position: relative;
  text-align: center;
  width: 100%; }
  .about-title-field ul {
    list-style: square;
    padding-left: 10px; }
  @media (max-width: 991px) {
    .about-title-field {
      padding: 0 100px; } }
  @media (max-width: 768px) {
    .about-title-field {
      padding: 0 50px; } }
  @media (max-width: 480px) {
    .about-title-field {
      padding: 0 15px; } }
  @media (max-width: 360px) {
    .about-title-field {
      padding: 0 10px; }
      .about-title-field p {
        font-size: 14px; } }

.about-title {
  color: #303442;
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 18px; }
  .about-title span {
    color: #249AD6; }
  @media (max-width: 360px) {
    .about-title {
      font-size: 20px;
      padding-bottom: 5px; } }

.about-title-line {
  background-color: #898989;
  display: inline-block;
  height: 3px;
  margin-bottom: 16px;
  width: 60px; }

.welcome-content {
  float: left;
  display: inline;
  width: 100%;
  margin-top: 50px; }

.wc-table {
  display: inline-block;
  text-align: center; }
  .wc-table li {
    float: left;
    width: 33.3333%; }
  @media (max-width: 768px) {
    .wc-table li {
      margin-bottom: 20px;
      width: 100%; } }
  @media (max-width: 360px) {
    .wc-table li {
      margin-bottom: 20px;
      width: 100%; } }

.single-wc-content {
  float: left;
  display: inline;
  width: 100%; }
  .single-wc-content #intro-1 {
    border: 1px solid #249AD6;
    color: #249AD6; }
  .single-wc-content #intro-2 {
    border: 1px solid #F89C27;
    color: #F89C27; }
  .single-wc-content #intro-3 {
    border: 1px solid #81BE41;
    color: #81BE41; }
  .single-wc-content span {
    border-radius: 100%;
    display: inline-block;
    font-size: 35px;
    height: 117px;
    line-height: 117px;
    text-align: center;
    width: 117px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .single-wc-content:hover #intro-1 {
    border-color: #249AD6;
    background-color: #249AD6;
    color: #fff; }
  .single-wc-content:hover #intro-2 {
    border-color: #F89C27;
    background-color: #F89C27;
    color: #fff; }
  .single-wc-content:hover #intro-3 {
    border-color: #81BE41;
    background-color: #81BE41;
    color: #fff; }
  .single-wc-content:hover #intro-1-und {
    padding-bottom: 16px;
    border-bottom: 2px solid #249AD6; }
  .single-wc-content:hover #intro-2-und {
    padding-bottom: 16px;
    border-bottom: 2px solid #F89C27; }
  .single-wc-content:hover #intro-3-und {
    padding-bottom: 16px;
    border-bottom: 2px solid #81BE41; }
  .single-wc-content .wc-about-title {
    color: #525252;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 32px;
    padding-bottom: 17px; }
    @media (max-width: 991px) {
      .single-wc-content .wc-about-title {
        font-size: 15px; } }
  .single-wc-content p {
    text-align: left;
    font-size: 15px;
    padding: 12px; }

.about-field {
  display: inline;
  float: left;
  margin-bottom: 25px;
  width: 100%; }

.about-field > div > div > img {
  width: 100%; }

.about-right {
  padding-left: 85px;
  width: 100%; }
  @media (max-width: 991px) {
    .about-right {
      padding-left: 30px; } }
  @media (max-width: 768px) {
    .about-right {
      margin-top: 35px;
      padding-left: 0; } }
  @media (max-width: 360px) {
    .about-right {
      margin-top: 45px; } }

.cirrus-button {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border: 1px solid #81BE41;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding: 15px 25px;
  margin-top: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #81BE41;
  border-color: #81BE41; }
  .cirrus-button:hover {
    text-decoration: none;
    background-color: #9ecd6d;
    color: #fff;
    border-color: #9ecd6d;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.29), 0 6px 8px 0 rgba(0, 0, 0, 0.13); }
  .cirrus-button:focus {
    background: #9ecd6d;
    border: none;
    text-decoration: none;
    color: #fff; }
  @media (max-width: 768px) {
    .cirrus-button {
      font-size: 12px;
      width: 100%; } }

.button {
  display: inline-block;
  border: 2px solid #249AD6;
  background: #fff;
  margin-top: 10px;
  color: #249AD6;
  vertical-align: middle;
  position: relative;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .button:focus {
    outline: none; }
  .button > span {
    vertical-align: middle; }
  .button:hover {
    background-color: #249AD6;
    border-color: #249AD6; }

.button-red {
  display: inline-block;
  border: 2px solid #E51890;
  background: #fff;
  color: #E51890;
  vertical-align: middle;
  position: relative;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .button-red:focus {
    outline: none; }
  .button-red > span {
    vertical-align: middle; }
  .button-red:hover {
    background-color: #E51890;
    border-color: #E51890; }

.button-green {
  display: inline-block;
  border: 2px solid #81BE41;
  background: #fff;
  color: #81BE41;
  vertical-align: middle;
  position: relative;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .button-green:focus {
    outline: none; }
  .button-green > span {
    vertical-align: middle; }
  .button-green:hover {
    background-color: #81BE41;
    border-color: #81BE41; }

.button-orange {
  display: inline-block;
  border: 2px solid #F89C27;
  background: #fff;
  color: #F89C27;
  vertical-align: middle;
  position: relative;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .button-orange:focus {
    outline: none; }
  .button-orange > span {
    vertical-align: middle; }
  .button-orange:hover {
    background-color: #F89C27;
    border-color: #F89C27; }

.button-default {
  text-decoration: none;
  border-radius: 2px;
  overflow: hidden;
  font-size: 15px;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .button-default:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
    padding: 12px 21px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .button-default > span {
    display: block;
    padding: 12px 21px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .button-default:after {
    color: #fff; }
  .button-default:hover {
    /*background-color: $cirrus-blue;
    border-color: $cirrus-blue;*/
    text-decoration: none;
    color: #fff; }
    .button-default:hover::after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .button-default:hover > span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0); }
  .button-default:focus {
    text-decoration: none;
    color: #249AD6; }
  @media (max-width: 768px) {
    .button-default {
      width: 100%; }
      .button-default::after {
        padding: 12px 8px;
        font-size: 12px; }
      .button-default > span {
        padding: 12px 8px;
        font-size: 12px; } }
  @media (max-width: 480px) {
    .button-default::after {
      font-size: 10px; }
    .button-default > span {
      font-size: 10px; } }
  @media (max-width: 360px) {
    .button-default::after {
      font-size: 10px; }
    .button-default > span {
      font-size: 10px; } }

/*--------------------*/
/* EMAIL SECTION */
/*--------------------*/
.email-section {
  background: #7768ae; }

.email-content {
  display: inline;
  float: left;
  text-align: center;
  width: 100%; }
  .email-content h2 {
    color: #fff;
    font-size: 30px; }
  .email-content a {
    display: inline-block;
    float: none;
    margin-left: 15px;
    border-color: #fff;
    background-color: transparent;
    color: #fff; }
    .email-content a:hover {
      background-color: transparent;
      border-color: #fff; }
  @media (max-width: 991px) {
    .email-content {
      font-size: 30px; }
      .email-content h2 {
        font-size: 30px; } }
  @media (max-width: 768px) {
    .email-content h2 {
      font-size: 28px; } }
  @media (max-width: 480px) {
    .email-content h2 {
      font-size: 20px; } }
  @media (max-width: 360px) {
    .email-content h2 {
      font-size: 20px; } }

.section-email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .section-email input {
    margin-top: 10px;
    width: 300px;
    height: 49px;
    padding: 10px; }
  @media (max-width: 991px) {
    .section-email input {
      font-size: 15px; } }
  @media (max-width: 768px) {
    .section-email input {
      font-size: 12px;
      height: 45px; }
    .section-email a {
      width: 100px; } }
  @media (max-width: 480px) {
    .section-email {
      display: block; }
      .section-email input {
        width: 100%;
        height: 30px;
        padding: 5px;
        font-size: 12px;
        display: block; }
      .section-email a {
        width: 100px;
        margin: 5px 0 0 0; }
        .section-email a span {
          padding: 5px; }
        .section-email a::after {
          padding: 5px 8px; } }

/*--------------------*/
/* CLIENT */
/*--------------------*/
.clients {
  background-color: #fff;
  padding: 70px 0; }

.clients .row {
  margin-left: 0px;
  margin-right: 0px; }

.clients img {
  width: 250px;
  padding: 20px; }

.clients b {
  color: #249AD6; }

.clients i {
  font-size: 20px;
  line-height: 1.6em; }

.client-quote {
  margin-top: 10px; }

@media (max-width: 480px) {
  .clients .row div {
    padding: 0px; } }

/*--------------------*/
/* OUR CREW */
/*--------------------*/
.crew {
  background-color: #F6F6F6;
  display: inline;
  padding: 70px 0px;
  float: left;
  width: 100%; }

.crew-area {
  display: inline;
  float: left;
  padding-bottom: 56px;
  width: 100%; }

.crew-content {
  display: inline;
  float: left;
  /*	margin-top: 18px;
  */
  width: 100%; }

.crew-grid {
  /*	margin: 20px 0 0 0;
  */
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }
  .crew-grid li {
    display: inline-block;
    height: 230px;
    margin: 20px 25px;
    width: 20%; }
    .crew-grid li:hover .crew-info {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
      .crew-grid li:hover .crew-info p {
        opacity: 1; }
  @media (max-width: 1199px) {
    .crew-grid li {
      height: 198px;
      margin: 20px;
      width: 20%; } }
  @media (max-width: 991px) {
    .crew-grid li {
      height: 170px;
      margin: 20px 10px;
      width: 21%; } }
  @media (max-width: 768px) {
    .crew-grid li {
      height: 230px;
      margin: 20px 25px 70px;
      width: 38%; } }
  @media (max-width: 480px) {
    .crew-grid {
      padding: 0 75px; }
      .crew-grid li {
        height: 300px;
        margin: 20px 0 70px;
        width: 100%; } }
  @media (max-width: 360px) {
    .crew-grid {
      padding: 0 55px; }
      .crew-grid li {
        height: 220px; } }
  @media (max-width: 320px) {
    .crew-grid {
      padding: 0 35px; } }

.crew-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.crew-img-1 {
  background-image: url("http://placehold.it/235x235"); }
  @media (max-width: 1199px) {
    .crew-img-1 {
      background-position: center center; } }
  @media (max-width: 768px) {
    .crew-img-1 {
      background-position: center center;
      background-size: 100% auto; } }

.crew-img-2 {
  background-image: url("http://placehold.it/235x235"); }
  @media (max-width: 1199px) {
    .crew-img-2 {
      background-position: center center; } }
  @media (max-width: 768px) {
    .crew-img-2 {
      background-position: center center;
      background-size: 100% auto; } }

.crew-img-3 {
  background-image: url("http://placehold.it/235x235"); }
  @media (max-width: 1199px) {
    .crew-img-3 {
      background-position: center center; } }
  @media (max-width: 768px) {
    .crew-img-3 {
      background-position: center center;
      background-size: 100% auto; } }

.crew-img-4 {
  background-image: url("http://placehold.it/235x235"); }
  @media (max-width: 1199px) {
    .crew-img-4 {
      background-position: center center; } }
  @media (max-width: 768px) {
    .crew-img-4 {
      background-position: center center;
      background-size: 100% auto; } }

.crew-info {
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 50px 0;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden; }
  .crew-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -o-transition: all 0.3s ease-in-out 0.3s;
    -ms-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s; }
  .crew-info a {
    border: 1px solid #fffefe;
    border-radius: 50%;
    color: #fffefe;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
    height: 27px;
    margin: 0 5px;
    text-align: center;
    width: 27px; }
    .crew-info a:hover {
      opacity: 1; }
  @media (max-width: 1199px) {
    .crew-info {
      padding: 12px 0px; }
      .crew-info p {
        margin: 0 32px;
        padding: 10px 0px; }
      .crew-info a {
        margin: 0 2px; } }
  @media (max-width: 991px) {
    .crew-info p {
      font-size: 10px; }
    .crew-info a {
      font-size: 15px;
      height: 25px;
      width: 25px; } }
  @media (max-width: 768px) {
    .crew-info {
      padding: 30px 18px; }
      .crew-info p {
        font-size: 15px; } }
  @media (max-width: 480px) {
    .crew-info {
      padding: 70px 18px; }
      .crew-info p {
        font-size: 18px; } }
  @media (max-width: 360px) {
    .crew-info {
      padding: 20px 10px; }
      .crew-info p {
        font-size: 14px; } }
  @media (max-width: 320px) {
    .crew-info {
      padding: 25px 10px; } }

.crew-address {
  display: inline;
  float: left;
  margin-top: 26px;
  text-align: center;
  width: 100%; }
  .crew-address p {
    color: #525252;
    margin-bottom: 0px;
    font-size: 22px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .crew-address span {
    color: #7d7d7d;
    font-size: 17px;
    font-style: italic; }
  @media (max-width: 991px) {
    .crew-address p {
      font-size: 16px; }
    .crew-address span {
      font-size: 14px; } }

/* ----------------------------------------------------------- */
/*  CONNECT 
/* ----------------------------------------------------------- */
.connect-details .fa {
  font-size: 100px;
  color: #249AD6; }

.connect-banner {
  padding: 50px;
  text-align: center;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("http://placehold.it/1600x250") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (max-width: 480px) {
    .connect-banner {
      padding: 30px; } }
  .connect-banner h1 {
    color: #fff; }
  .connect-banner p {
    color: #fff; }

/* ----------------------------------------------------------- */
/*  FOOTER
/* ----------------------------------------------------------- */
#footer {
  background-color: #242424;
  display: inline;
  float: left;
  width: 100%; }

.footer-top {
  display: inline;
  float: left;
  width: 100%; }

.footer-top-container div {
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .footer-top-container div {
      text-align: center; } }

.footer-top-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%; }

.footer-logo {
  display: inline-block; }
  .footer-logo img {
    margin-top: -45px; }
  @media (max-width: 768px) {
    .footer-logo img {
      margin-top: -10px; } }

.footer-social {
  display: inline;
  float: left;
  margin: 40px 0px;
  width: 100%; }
  .footer-social a {
    border: 1px solid #505050;
    border-radius: 50%;
    color: #b8b8b8;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 0 9px;
    text-align: center;
    width: 48px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .footer-social a.facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff; }
  .footer-social a.twitter:hover {
    color: #fff;
    background-color: #00aced;
    border-color: #00aced; }
  .footer-social a.youtube:hover {
    color: #fff;
    background-color: #bb0000;
    border-color: #bb0000; }
  .footer-social a.linkedin:hover {
    color: #fff;
    background-color: #007bb5;
    border-color: #007bb5; }
  @media (max-width: 360px) {
    .footer-social a {
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      margin: 0 5px;
      width: 40px; } }
  @media (max-width: 320px) {
    .footer-social a {
      font-size: 14px;
      height: 35px;
      line-height: 35px;
      margin: 0 2px;
      width: 35px; } }

.footer-socials a {
  display: inline-block; }
  .footer-socials a i {
    font-size: 35px; }
    .footer-socials a i:hover {
      color: #525252; }

.footer-bottom {
  display: inline;
  border-top: 1px solid #434343;
  float: left;
  padding: 40px 0;
  width: 100%;
  text-align: center; }
  .footer-bottom p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px; }
  @media (max-width: 480px) {
    .footer-bottom p {
      font-size: 15px; } }
  @media (max-width: 360px) {
    .footer-bottom p {
      font-size: 15px; } }
  @media (max-width: 320px) {
    .footer-bottom p {
      font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
