/* ----------------------------------------------------------- */
/*  COLORS
/* ----------------------------------------------------------- */
$cirrus-blue: #46AAD9;
$cirrus-blue-light: #9CD5F1;
$cirrus-blue-dark: #0780BA;
$cirrus-green: #1CB891;
$cirrus-green-light: #67D6BA;
$cirrus-green-dark: #007D5E;
$cirrus-purple: #9974CE;
$cirrus-purple-light: #E1D1F6;
$cirrus-purple-dark: #5F349C;
$cirrus-red: #FF003B;
$cirrus-red-light: #FF6186;
$cirrus-red-dark: #F00038;
$cirrus-orange: #FF783B;
$cirrus-orange-light: #FFAE89;
$cirrus-orange-dark: #B63B03;
$red-pale: #fffefe;
$pink-light: #fff7f7;
$white: #fff;
$blackish: #303442;
$gray-pale: #f6f6f6;
$gray-light: #b8b8b8;
$gray-medium: #7d7d7d;
$gray-dark: #525252;


/* Theme Colors */
$theme-green: #1CB891;
$theme-green-light: #67D6BA;
$theme-green-dark: #007D5E;
$theme-blue: #46A9D9;
$theme-blue-light: #9CD5F1;
$theme-blue-dark: #0780BA;
$theme-purple: #9974CE;
$theme-purple-light: #E1D1F6;
$theme-purple-dark: #5F349C;
$theme-red: #FF003B;
$theme-red-light: #FF6186;
$theme-red-dark: #F00038;
$theme-orange: #FF783B;
$theme-orange-light: #FFAE89;
$theme-orange-dark: #B63B03;

/* ----------------------------------------------------------- */
/*  FONTS
/* ----------------------------------------------------------- */
$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$mainfont: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;

/* ----------------------------------------------------------- */
/*  MEDIA QUERIES SETTINGS
/* ----------------------------------------------------------- */
$desktop-width: 1199px;
$laptop-width: 991px;
$ipad-width: 767px;
$note-width: 480px;
$galaxy-width: 360px;
$iphone-width: 320px;

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: #{$ipad-width}) {
    @content;
  }
}
@mixin note {
  @media (max-width: #{$note-width}) {
    @content;
  }
}
@mixin galaxy {
  @media (max-width: #{$galaxy-width}) {
    @content;
  }
}
@mixin iphone {
  @media (max-width: #{$iphone-width}) {
    @content;
  }
}



/* ----------------------------------------------------------- */
/*  GLOBAL 
/* ----------------------------------------------------------- */
html {
	font-size: 100%;
}
body {
	font-family: $opensans;
	font-size: 16px;
	overflow-x: hidden !important;
	color: $gray-medium;
	position: relative;
	@include note {
		font-size: 14px;
	}
}
h1,h2 {
	color: $blackish;
}
h1 {
	@include note {
	}
}
h2 {
	@include note {
		font-size: 20px;
	}
}
h3 {
	@include note {
		font-size: 16px;
	}
}
.fa {
	width: 20px;
}
ul {
	list-style: none;
	padding-left: 0px;
}
.txt-white {
	color: $white;
}

/* Scroll to top */
.scrollToTop {
	background: #f9f9f9 none repeat scroll 0 0;
	border-radius: 50%;
	bottom: 60px;
	display: none;
	font-size: 25px;
	height: 55px;
	line-height: 50px;
	position: fixed;
	right: 50px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 999;
	.fa {
		width: inherit;
	}
	&:hover {
		color: $white;
		text-decoration: none;
		outline: none;
	}
	&:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*--------------------*/
/* HOME HEADER */
/*--------------------*/
#header {
	float: left;
	display: inline;
	width: 100%;
}
#home-banner {
	height: 500px;
	background: url("../images/banner_test.jpg") no-repeat left 45% bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5.625rem 0;
	@include laptop {
		height: 450px;
		padding: 2.8125rem;
		background-position: top center;
	}
	@include ipad {
		padding: 2.2125rem;
	}
	@include note {
		padding: 1.5125rem;
	}
}
.banner-floater {
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
}
.banner-content {
	font-size: 1.0625rem;
	line-height: 1.6875rem;
	color: $blackish;
	.button-default {
		border-color: $cirrus-green;
		color: $cirrus-green;
		&:hover{
			background-color: $cirrus-green-light;
			border-color: $cirrus-green-light;
		}
	}
}
.banner-h1 {
	margin-bottom: 20px;
	font-size: 2.9rem;
	line-height: 2.9rem;
	text-transform: none;
	font-weight: 300;
	color: $blackish;
	@include laptop {
		font-size: 2.8125rem;
		line-height: 3rem;
	}
	@include ipad {
		font-size: 2.5rem;
		line-height: 3rem;
	}
	@include note {
		font-size: 1.8rem;
		line-height: 2rem;
	}
	@include galaxy {
		font-size: 1rem;
		line-height: 1.3rem;
	}
}
.banner-h3 {
	text-transform: none;
	font-size: 1.625rem;
	line-height: 2rem;
	font-weight: 700;
	color: $blackish;
	@include ipad {
		font-size: 1.375rem;
		line-height: 1.75rem;
	}
	@include note {
		font-size: 1rem;
		line-height: 1.25rem;
	}
}
.home-cta {
	.row {
		margin: 0;
	}
}
.home-cta-content {
	text-align: center;
	padding: 10px 0;
	background: $cirrus-blue;
	p {
		display: inline-block;
		color: $white;
		font-size: 1.25rem;
		margin: 0;
		padding: 0 10px 10px 10px;
		@include note {
			margin-bottom: 0.625rem;
			padding: 0;
			font-size: 0.925rem;
		}
	}
	button {
		display: inline-block;
		float: none;
		margin: 0px;
	}
}
#home-cta-btn {
	border: 1px solid $white;
	background: white;
	color: $cirrus-blue;
	&:hover {
		background-color: $cirrus-blue-light;
	}
}
/*--------------------*/
/* NAVIGATION */
/*--------------------*/
.home-header {
	background: #eee;
	border-top: 5px solid $cirrus-blue;
	color: $gray-medium;
	text-align: right;
	ul {
		margin-bottom: 5px;
		li {
			font-size: 12px;
			font-weight: bold;
			display: inline-block;
			margin-left: 15px;
			a {
				text-decoration: none;
				color: $gray-medium;
				&:hover {
					transition: 0.5s all;
					color: $cirrus-blue;
				}
			}
		}
	} 
}
.home-navbar {
	width: 400px;
	@include laptop {
		font-size: 12px;
	}
}
.navbar {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	z-index: 999;
}
.navbar-default {
	background: $white;
	border: none;
	.navbar-header > a {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navbar-nav {
		.active a {
			background: $white;
			color: $cirrus-blue;
			&:hover {
				background: $white;
				color: $cirrus-blue;
			}
		}
		li a {
			line-height: 70px;
			padding-top: 0px;
			padding-bottom: 0px;
			letter-spacing: 1.8px;
			&:hover {
				transition: 0.5s all;
				background: $white;
				color: $cirrus-blue;
			}
		}
	}
	.navbar-toggle {
		margin-bottom: 0px;
		margin-top: 15px;
		border-color: $cirrus-blue;
		color: $cirrus-blue;
		&:hover {
			background-color: $cirrus-blue;
			color: white;
		}
		&:focus {
			background-color: $cirrus-blue;
			color: $white;
		}
	}
}
.navbar-side { 
	@include ipad {
		.side-collapse {
			height: 100vh;
			left: 0;
			width: 400px;
			position: absolute;
			overflow: auto;
			transition: all 0.5s;
			&:-webkit-scrollbar {
				display: none;
			}		
		}
		.side-collapse.open {
			width: 0;
		}
	}
	@include note {
		.side-collapse {
			width: 100%;
		}
	}
}
.navbar-brand {
	height: 70px;
	display: flex;
	align-items: center;
	img {
		height: 50px;
	}
}

/*--------------------*/
/* CONTENT SECTION */
/*--------------------*/
.page-navbar {
	background: $white;
	border-bottom: 1px solid $gray-pale;
	@include ipad {
		background: $white;
		border: none;
	}
}
.nav-tabs {
	li.active > a {
		border: none;
		border-bottom: 5px solid $cirrus-blue;
		color: $blackish;
		font-weight: bold;
		&:hover {
			color: $cirrus-blue;
			border: none;
			border-bottom: 5px solid $cirrus-blue;
			cursor: pointer;
			@include ipad {
				background: $cirrus-blue;
			}
		}
	}
	li a {
		color: $blackish;
		font-weight: bold;
		border: none;
		&:hover {
			cursor: pointer;
			background: transparent;
			border: none;
			color: $cirrus-blue;
		}
	}
}

/* PAGE TABS */
.tab-pane {
  padding: 0px 5px;
}
.responsive-tabs.nav-tabs {
	border: none;
	@include ipad {
		position: relative;
		z-index: 10;
		height: 42px;
		overflow: visible;
		border-bottom: none;
	}
}
.responsive-tabs.nav-tabs span.glyphicon.glyphicon-triangle-top {
	display: none;
}
.responsive-tabs.nav-tabs span.glyphicon {
	display: none;
	@include ipad {
		position: absolute;
		top: 14px;
		right: 22px;
		display: block;
		color: $cirrus-blue-dark;
	}
}
.responsive-tabs.nav-tabs > li:last-of-type > a {
  margin-right: 0;
}
.responsive-tabs.nav-tabs > li > a {
	margin-right: 4px;
	font-size: 14px;
	@include laptop {
		font-size: 12px;
	}
	@include ipad {
		font-size: 14px;
		margin-right: 0;
		background: $cirrus-blue;
		color: $white;
		border: none;
		&:hover {
			@include ipad {
				background: $cirrus-blue;
				color: $cirrus-blue-dark;
			}
		}
	}
}
.responsive-tabs.nav-tabs > li.active {
  display: block;
}
.responsive-tabs.nav-tabs > li.active a {
	@include ipad {
		border: 1px solid $cirrus-blue;
		border-radius: 2px;
	}
}
.responsive-tabs.nav-tabs > li {
	display: block;
	float: left;
	@include ipad {
		display: none;
		float: none;
		text-align: center;
	}
}
.responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-top {
	display: none;
	@include ipad {
		display: block;
	}
}
.responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-bottom {
  display: none;
}
.responsive-tabs.nav-tabs.open > li {
  display: block;
}
.responsive-tabs.nav-tabs.open > li a {
  border-radius: 0;
}
.responsive-tabs.nav-tabs.open > li:first-of-type a {
  border-radius: 2px 2px 0 0;
}
.responsive-tabs.nav-tabs.open > li:last-of-type a {
  border-radius: 0 0 2px 2px;
}

/*--------------------*/
/* PAGES */
/*--------------------*/
.page-banner-thin {
	height: 275px;
}
.tab-pane {
	margin-bottom: 100px;
}
.page-wrapper {
	.container-fluid {
		padding: 0px;
	}
	.tab-pane {
		padding-left: 0px;
		padding-right: 0px;
	}
}
/* QUICKBASE */
#quickbase {
	padding-top: 0px;
}
.quickbase-banner {
	margin: 0 auto;
	width: 100%;
	max-width: 80rem;
}
.popout-banner {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 100px;
}
.popout-banner-image {
	margin-left: -20px;
	margin-right: -20px;
	background: url('../images/quickbase-banner.jpg') no-repeat top right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	@include ipad {
		height: 250px;
	}

}
.popout-box {
	position: absolute;
	width: 100%;
	max-width: 31.25rem;
	margin-top: 50px;
	margin-bottom: -50px;
	padding: 50px;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.22);
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 31.25rem;
	background-color: $cirrus-purple;
	transition: all 0.3s ease-in;
	transition-property: margin, left;

	.popout-box-content {
		h1 {
			margin-top: 0px;
			@include laptop {
				font-size: 30px;
			}
			@include ipad {
				margin-top: 0px;
			}
		}
		p {
			&:before {
				background-color: $white;
				left: 0;
				margin-left: 0;
				transform: translateX(0);
				content: '';
				position: relative;
				display: block;
				width: 200px;
				height: 1px;
				margin: 20px 0px;
			}
			@include ipad {
				font-size: 14px;
			}
		}
		.button {
			background-color: transparent;
			border: solid 1px $white;
			color: $white;
			margin: 0px;
			margin-top: 10px;
			&:after {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			span {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	@include laptop {
		width: 50%;
		margin: 0px;
	}
	@include ipad {
		width: 100%;
		max-width: none;
		position: relative;
		padding: 25px;
		border-radius: 0px;
	}
}

/* SPREADSHEETS */
#spreadsheet-banner {
	background-color: $cirrus-purple;
	padding: 50px;
	text-align: center;
	@include note {
		padding: 30px;
	}
	h1 {
		color: $white;
		font-weight: bold;
		font-size: 40px;
		@include note {
			font-size: 30px;
		}
	}
	p {
		color: $white;
	}
	.underline {
		background-color: $white;
	}
}
.tab-spreadsheet {
	h2, h3 {
		text-align: center;
	}
	/*.container {
		margin-top: 50px;
	}*/
	.panel {
		transition: all 0.3s linear;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22);
		&:hover {
			transition: all 0.3s linear;
			box-shadow: 0 20px 40px 0 rgba(0,0,0,0.22);
		}
	}
	.panel-heading {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.panel-body {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.ss-collaboration {
		border: 5px solid $cirrus-blue;
		border-radius: 10px;
		.panel-heading {
			background-color: $white;
			border-bottom: none;
		}
		.panel-body {
			background-color: $white;
			.fa {
				color: $cirrus-blue;
			}
		}
	}
	.ss-scalability {
		border: 5px solid $cirrus-orange;
		border-radius: 10px;
		.panel-heading {
			background-color: $white;
			border-bottom: none;
		}
		.panel-body {
			background-color: $white;
			.fa {
				color: $cirrus-orange;
			}
		}
	}
	.ss-visibility {
		border: 5px solid $cirrus-green;
		border-radius: 10px;
		.panel-heading {
			background-color: $white;
			border-bottom: none;
		}
		.panel-body {
			background-color: $white;
			.fa {
				color: $cirrus-green;
			}
		}
	}
	.panel-heading {
		text-align: center;
		font-weight: bold;
		color: $blackish;
		letter-spacing: 5px;
	}
	p {
		color: $gray-medium;
	}
	.spreadsheet-graphic {
		text-align: center;
		i {
			font-size: 150px;
			padding: 30px;
		}
		.fa {
			width: 100%;
		}
	}
	blockquote {
		p {
			color: $gray-medium;
			font-size: 25px;
			font-style: italic;
			@include note {
				font-size: 16px;
			}
		}
		padding: 50px;
		@include note {
			padding: 18px;
		}
	}
}
#underline {
	border-bottom: 5px solid $gray-pale;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 30%;
}
.spreadsheet-content {
	margin-top: 25px;
}
.spreadsheet-footer {
	text-align: center;
}

/* CONSULTING */
.consulting-banner {
	height: 275px;
	background-color: $cirrus-purple;
}



/*--------------------*/
/* ABOUT */
/*--------------------*/
#about {
	background-color: #fff;
	padding: 70px 0;
	float: left;
	display: inline;
	width: 100%;
}
.welcome-field {
	float: left;
	display: inline;
	width: 100%;
}
.about-title-field {
	display: inline;
	float: left;
	padding: 0 172px;
	position: relative;
	text-align: center;
	width: 100%;
	ul {
		list-style: square;
		padding-left: 10px;
	}
	@include laptop {
		padding: 0 100px;
	}
	@include ipad {
		padding: 0 50px;
	}
	@include note {
		padding: 0 15px;
	}
	@include galaxy {
		padding: 0 10px;
		p {
			font-size: 14px;
		}
	}
}
.about-title {
	color: $blackish;
	font-size: 40px;
	margin-bottom: 0;
	padding-bottom: 18px;
	span {
		color: $cirrus-blue;
	}
	@include galaxy {
		font-size: 20px;
		padding-bottom: 5px;
	}
}
.about-title-line {
	background-color: #898989;
	display: inline-block;
	height: 3px;
	margin-bottom: 16px;
	width: 60px;
}
.welcome-content {
	float: left;
	display: inline;
	width: 100%;
	margin-top: 50px;
}
.wc-table {
	display: inline-block;
	text-align: center;
	li {
		float: left;
		width: 33.3333%;
	}
	@include ipad {
		li {
			margin-bottom: 20px;
			width: 100%;
		}
	}
	@include galaxy {
		li {
			margin-bottom: 20px;
			width: 100%;
		}
	}
}
.single-wc-content {
	float: left;
	display: inline;
	width: 100%;
	#intro-1 {
		border: 1px solid $cirrus-blue;
		color: $cirrus-blue;
	}
	#intro-2 {
		border: 1px solid $cirrus-orange;
		color: $cirrus-orange;
	}
	#intro-3 {
		border: 1px solid $cirrus-green;
		color: $cirrus-green;
	}
	span {
		border-radius: 100%;
		display: inline-block;
		font-size: 35px;
		height: 117px;
		line-height: 117px;
		text-align: center;
		width: 117px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	&:hover {
		#intro-1 {
			border-color: $cirrus-blue;
			background-color: $cirrus-blue;
			color: $white;
		}
		#intro-2 {
			border-color: $cirrus-orange;
			background-color: $cirrus-orange;
			color: $white;
		}
		#intro-3 {
			border-color: $cirrus-green;
			background-color: $cirrus-green;
			color: $white;
		}
		#intro-1-und {
			padding-bottom: 16px;
			border-bottom: 2px solid $cirrus-blue;
		}
		#intro-2-und {
			padding-bottom: 16px;
			border-bottom: 2px solid $cirrus-orange;
		}
		#intro-3-und {
			padding-bottom: 16px;
			border-bottom: 2px solid $cirrus-green;
		}
	}
	.wc-about-title {
		color: $gray-dark;
		text-transform: uppercase;
		font-size: 18px;
		border-bottom: 1px solid #bbbbbb;
		margin-top: 32px;
		padding-bottom: 17px;
		@include laptop {
			font-size: 15px;
		}
	}
	p {
		text-align: left;
		color: $gray-medium;
		font-size: 15px;
		padding: 12px;
	}
}


.about-field {
	display: inline;
	float: left;
	margin-top: 45px;
	margin-bottom: 25px;
	width: 100%;
}
.about-field {
	> div > div > img {
		width: 100%;
	}
}
.about-right {
	display: inline;
	float: left;
	padding-left: 85px;
	width: 100%;
	.about-title-field {
		text-align: left;
		padding: 0px;
	}
	.about-title {
		padding-bottom: 47px;
	}
	.about-title-line {
		height: 2px;
		margin-bottom: 35px;
		width: 100px;
	}
	p {
		color: $gray-dark;
		font-family: $raleway;
		margin-bottom: 32px;
	}
	@include laptop {
		padding-left: 30px;
		.about-title {
			padding-bottom: 10px;
			font-size: 28px;
		}
		.about-title-line {
			margin-bottom: 15px;
		}
		p {
			font-size: 14px;
			margin-bottom: 6px;
		}
	}
	@include ipad {
		margin-top: 35px;
		padding-left: 0;
	}
	@include galaxy {
		margin-top: 45px;
		.about-title {
			font-size: 20px;
			padding-bottom: 5px;
		}
		.about-title-line {
			width: 60px;
		}
	}
}
.about-btn-field {
	float: left;
	display: inline;
	margin-top: 14px;
	width: 100%;
	@include laptop {
		margin-top: 0;
	}
	@include ipad {
		a {
			margin: 0px;
		}
	}
}
.button {
/*	float: left;
*/	display: inline-block;
	margin: 1em;
	border: 2px solid $cirrus-blue;
	background: $white;
	color: $cirrus-blue;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	&:focus {
		outline: none;
	}
	>span {
		vertical-align: middle;
	}
}
.button-default {
	text-decoration: none;
	border-radius: 2px;
	overflow: hidden;
	font-weight: 600;
	font-size: 15px;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	&:after {
		content: attr(data-text);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		-webkit-transform: translate3d(0, 25%, 0);
		transform: translate3d(0, 25%, 0);
		padding: 12px 21px;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	>span {
		display: block;
		padding: 12px 21px;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	&:after {
		color: $white;
	}
	&:hover {
		background-color: $cirrus-blue-light;
		border-color: $cirrus-blue-light;
		text-decoration: none;
		color: $white;
		&::after {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		>span {
			opacity: 0;
			-webkit-transform: translate3d(0, -25%, 0);
			transform: translate3d(0, -25%, 0);
		}
	}
	&:focus {
		text-decoration: none;
		color: $cirrus-blue;
	}
	@include ipad {
		&::after {
			padding: 12px 8px;
			font-size: 12px;
		}
		> span {
			padding: 12px 8px;
			font-size: 12px;
		}
	}
	@include note {
		&::after {
			font-size: 10px;
		}
		> span {
			font-size: 10px;
		}
	}
	@include galaxy {
		&::after {
			font-size: 10px;
		}
		>span {
			font-size: 10px;
		}
	}
}

/*--------------------*/
/* EMAIL SECTION */
/*--------------------*/

.email-section {
	display: inline;
	background: $cirrus-purple;
	float: left;
	position: relative;
	width: 100%;
}
.email-content {
	display: inline;
	float: left;
	padding: 60px 0;
	text-align: center;
	width: 100%;
	h2 {
		color: $white;
		font-size: 30px;
	}
	a {
		display: inline-block;
		float: none;
		border-color: $white;
		background-color: transparent;
		color: $white;
		&:hover {
			background-color: transparent;
		}
	}
	@include laptop {
		font-size: 30px;
		h2 {
			font-size: 30px;
		}
	}
	@include ipad {
		h2 {
			font-size: 28px;
		}
	}
	@include note {
		h2 {
			font-size: 20px;
		}
	}
	@include galaxy {
		h2 {
			font-size: 20px;
		}
	}
}
.section-email {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	input {
		width: 300px;
		height: 49px;
		padding: 10px;
		
	}
	@include laptop {
		input {
			font-size: 15px;
		}
	}
	@include ipad {
		input {
			font-size: 12px;
			height: 45px;
		}
	}
	@include note {
		input {
			width: 100%;
			height: 30px;
			padding: 5px;
			font-size: 12px;
			display: block;
		}
		a {
			width: 100px;
			margin: 5px 0 0 0;
			span {
				padding: 5px;
			}
			&::after {
				padding: 5px 8px;
			}
		}
		display: block;
	}
}

/*--------------------*/
/* CLIENT */
/*--------------------*/
.clients {
  background-color: #fff;
  float: left;
  display: inline;
  padding: 70px 0;
  width: 100%;
}
.clients .row {
  margin-left: 0px;
  margin-right: 0px;
}
.clients img {
  width: 250px;
  padding: 20px;
}
.clients b {
  color: $cirrus-blue;
}
.clients i {
  font-size: 20px;
  line-height: 1.6em;
}
.client-quote {
  margin-top: 10px;
}
.clients {
	@include note {
		.row {
			div {
				padding: 0px;
			}
		}
	}
}

/*--------------------*/
/* OUR CREW */
/*--------------------*/
.crew {
	background-color: #F6F6F6;
	display: inline;
	padding: 70px 0px;
	float: left;
	width: 100%;
}
.crew-area {
	display: inline;
	float: left;
	padding-bottom: 56px;
	width: 100%;
}
.crew-content {
	display: inline;
	float: left;
	margin-top: 18px;
	width: 100%;
}
.crew-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
	li {
		display: inline-block;
		height: 230px;
		margin: 20px 25px;
		width: 20%;
		&:hover {
			.crew-info {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
				opacity: 1;
				p {
					opacity: 1;
				}
			}
		}
	}
	@include desktop {
		li {
			height: 198px;
			margin: 20px;
			width: 20%;
		}
	}
	@include laptop {
		li {
			height: 170px;
			margin: 20px 10px;
			width: 21%;
		}
	}
	@include ipad {
		li {
			height: 230px;
			margin: 20px 25px 70px;
			width: 38%;
		}
	}
	@include note {
		padding: 0 75px;
		li {
			height: 300px;
			margin: 20px 0 70px;
			width: 100%;
		}
	}
	@include galaxy {
		padding: 0 55px;
		li {
			height: 220px;
		}
	}
	@include iphone {
		padding: 0 35px;
	}
}
.crew-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.crew-img-1 {
	background-image: url("http://placehold.it/235x235");
	@include desktop {
		background-position: center center;
	}
	@include ipad {
		background-position: center center;
		background-size: 100% auto;
	}
}
.crew-img-2 {
	background-image: url("http://placehold.it/235x235");
	@include desktop {
		background-position: center center;
	}
	@include ipad {
		background-position: center center;
		background-size: 100% auto;
	}
}
.crew-img-3 {
	background-image: url("http://placehold.it/235x235");
	@include desktop {
		background-position: center center;
	}
	@include ipad {
		background-position: center center;
		background-size: 100% auto;
	}
}
.crew-img-4 {
	background-image: url("http://placehold.it/235x235");
	@include desktop {
		background-position: center center;
	}
	@include ipad {
		background-position: center center;
		background-size: 100% auto;
	}
}
.crew-info {
	position: absolute;
	width: inherit;
	height: inherit;
	padding: 50px 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
	p {
		color: $white;
		padding: 10px 5px;
		font-style: italic;
		margin: 0 30px;
		font-size: 14px;
		opacity: 0;
		-webkit-transition: all 1s ease-in-out 0.4s;
		-moz-transition: all 1s ease-in-out 0.4s;
		-o-transition: all 1s ease-in-out 0.4s;
		-ms-transition: all 1s ease-in-out 0.4s;
		transition: all 1s ease-in-out 0.4s;
	}
	a {
		border: 1px solid #fffefe;
		border-radius: 50%;
		color: $red-pale;
		display: inline-block;
		font-size: 16px;
		opacity: 0.8;
		height: 27px;
		margin: 0 5px;
		text-align: center;
		width: 27px;
		&:hover {
			opacity: 1;
		}
	}
	@include desktop {
		padding: 12px 0px;
		p {
			margin: 0 32px;
			padding: 10px 0px;
		}
		a {
			margin: 0 2px;
		}
	}
	@include laptop {
		p {
			font-size: 10px;
		}
		a {
			font-size: 15px;
			height: 25px;
			width: 25px;
		}
	}
	@include ipad {
		padding: 30px 18px;
		p {
			font-size: 15px;
		}
	}
	@include note {
		padding: 70px 18px;
		p {
			font-size: 18px;
		}
	}
	@include galaxy {
		padding: 20px 10px;
		p {
			font-size: 14px;
		}
	}
	@include iphone {
		padding: 25px 10px;
	}
}
.crew-address {
	display: inline;
	float: left;
	margin-top: 26px;
	text-align: center;
	width: 100%;
	p {
		color: $gray-dark;
		margin-bottom: 0px;
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		font-family: $raleway;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	span {
		color: $gray-medium;
		font-size: 17px;
		font-style: italic;
		font-family: $raleway;
	}
	@include laptop {
		p {
			font-size: 16px;
		}
		span {
			font-size: 14px;
		}
	}
}


/* ----------------------------------------------------------- */
/*  FOOTER
/* ----------------------------------------------------------- */
#footer {
	background-color: #242424;
	display: inline;
	float: left;
	width: 100%;
}
.footer-top {
	display: inline;
	float: left;
	width: 100%;
}
.footer-top-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}
.footer-logo {
	display: inline-block;
}
.footer-social {
	display: inline;
	float: left;
	margin: 40px 0px;
	width: 100%;
	a {
		border: 1px solid #505050;
		border-radius: 50%;
		color: $gray-light;
		display: inline-block;
		font-size: 18px;
		height: 48px;
		line-height: 48px;
		margin: 0 9px;
		text-align: center;
		width: 48px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	a.facebook {
		&:hover {
			background-color: #3b5998;
			border-color: #3b5998;
			color: $white;
		}
	}
	a.twitter {
		&:hover {
			color: $white;
			background-color: #00aced;
			border-color: #00aced;
		}
	}
	a.youtube {
		&:hover {
			color: $white;
			background-color: #bb0000;
			border-color: #bb0000;
		}
	}
	a.linkedin {
		&:hover {
			color: $white;
			background-color: #007bb5;
			border-color: #007bb5;
		}
	}
	@include galaxy {
		a {
			font-size: 15px;
			height: 40px;
			line-height: 40px;
			margin: 0 5px;
			width: 40px;
		}
	}
	@include iphone {
		a {
			font-size: 14px;
			height: 35px;
			line-height: 35px;
			margin: 0 2px;
			width: 35px;
		}
	}
}
.footer-bottom {
	display: inline;
	border-top: 1px solid #434343;
	float: left;
	padding: 40px 0;
	width: 100%;
	text-align: center;
	p {
		color: $white;
		font-size: 18px;
		margin-bottom: 0px;
	}
	@include note {
		p {
			font-size: 15px;
		}
	}
	@include galaxy {
		p {
			font-size: 15px;
		}
	}
	@include iphone {
		p {
			font-size: 12px;
		}
	}
}