<div class="tab-pane tab-consulting" id="consulting">
	<div class="page-banner-thin page-banner background-green">
		<div class="row">
			<h1>I ♡ NOT KNOWING ANYTHING - said no one ever.</h1>
			<div id="underline"></div>
			<h3 id="txt-white">Help us help you.</h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1 col-md-1 no-padding"></div>
			<div class="col-sm-6 col-md-6 no-padding">
				<h3 class="header-consulting">Application Software Consulting:</h3>
				<h1>WE <span id="txt-orange">SPEAK</span> YOUR LANGUAGE</h1>
				<p>We provide solution consultation, application design, development, and customization as well as Training Services for your Admin and/or End Users. We speak your language and are highly skilled at translating your workflows, processes, or business operations requirements into user-intuitive connected process application structure and design. Below are some areas we can help.</p>
			</div>
			<div class="col-sm-5 col-md-5 txt-center flex-center page-icon-col">
				<i class="fa fa-volume-up faa-pulse animated faa-slow" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="container-fluid consulting-infographics1">
		<h1 class="txt-center" id="txt-gray">Our Centers of Excellence</h1>
		<div id="underline-gray"></div>
		<div class="container flex-center">
			<div class="col-xs-12 col-md-6">
				<h2>Project Management</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ferae definitiones autem arbitramur atomis debilitati remissius indoctis inhumanus, isdem maledici ullum necessariam diis superstitione. Nunc laborum.</p>
				<ul>
					<li>Bidding process</li>
					<li>Change orders</li>
					<li>Budgets and expenses</li>
					<li>Task dependencies</li>
					<li>Employee timesheets</li>
					<li>Sub-contractor management</li>
					<li>Resource allocation</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6">
				<img class="width-100" src="http://placehold.it/1200x800">
			</div>
		</div>
	</div>

</div>