<div class="tab-pane tab-spreadsheet" id="spreadsheet">
	<div class="page-banner-thin page-banner background-purple">
		<div class="row">
			<h1>SPREADSHEETS? EW.</h1>
			<div id="underline"></div>
			<h3 id="txt-white">OVERCOME THEM LIKE A BOSS.</h3>
		</div>
	</div>
	<div class="container padding-100">
		<div class="row">
			<div class="col-sm-1 col-md-1 no-padding"></div>
			<div class="col-sm-6 col-md-6 no-padding">
				<h3 class="header-spreadsheet">Spreadsheets:</h3>
				<h1>MIGHT JUST BE THE MOST <span id="txt-red-light">DANGEROUS</span> TOOL ON THE PLANET</h1>
				<h3>Consider these three critical factors.</h3>
			</div>
			<div class="col-sm-5 col-md-5 txt-center flex-center page-icon-col">
				<i class="fa fa-exclamation-triangle faa-pulse animated faa-slow" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="container-fluid padding-30 background-gray-pale">
		<h2 class="txt-center">Three Critical Factors:</h2>
		<div id="underline-gray"></div>
		<div class="container">
			<div class="col-sm-4 col-md-4">
				<div class="panel panel-default ss-collaboration">
					<div class="panel-heading">
						COLLABORATION
					</div>
					<div class="panel-body">
						<div class="row spreadsheet-graphic">
							<i class="fa fa-users" aria-hidden="true"></i>
						</div>
						<div id="underline"></div>
						<p>The crushing limitation of spreadsheets is the inability for teams to collaborate. When people are faced with: "Brad is in charge of the spreadsheet, so nobody go into the shared drive!”, productivity and team engagement suffer.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="panel panel-default ss-scalability">
					<div class="panel-heading">
						SCALABILITY
					</div>
					<div class="panel-body">
						<div class="row spreadsheet-graphic">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div id="underline"></div>
						<p>Spreadsheets are famous for lulling professionals into a false sense of limitless options. Leaders in growth business realize that spreadsheets are actually bottlenecks to success and not dynamic, all-in-one solutions as they are often used.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4">
				<div class="panel panel-default ss-visibility">
					<div class="panel-heading">
						VISIBILITY
					</div>
					<div class="panel-body">
						<div class="row spreadsheet-graphic">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div id="underline"></div>
						<p>Without a single source of truth, leaders find it difficult to make data driven decisions. Reporting is nearly impossible because rogue spreadsheets sprout up from dubious sources and data integrity is questionable throughout the organization.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid padding-30">
		<div class="container">
			<blockquote>
				<p>"When an operations analyst encounters a problem, he opens a spreadsheet. Now he has two problems..."  - Abe Lincoln - lol good one</p>
			</blockquote>
		</div>
	</div>
	<div class="container-fluid padding-30">
		<div class="container">
			<div class="row spreadsheet-footer">
				<h2>Your Spreadsheet Intervention is a click away.</h2>
				<a href="#" class="button button-default" data-text= "START MY SPREADSHEET INTERVENTION">
					<span>START MY SPREADSHEET INTERVENTION</span>
				</a>
			</div>
		</div>
	</div>
</div>