<% include ../partials/head %>
<% include ../partials/header %>
<div class="page-wrapper">
	<div class="container">
		THIS IS ABOUT PAGE
	</div>
</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>