<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">
	<div class='container-fluid'>
		<!-- Start page content -->
		<div class="page-content">
			<div class="page-banner">
				<div class="col-md-12 vcenter">
					<h1>About CirrusOps</h1>
				</div>
			</div>
			<div class="container padding-50">
				<h2 class="header-margin-bottom txt-center">Our Promise</h2>
				<p>We promise to give business heroes smarter, simpler, and more inspiring solutions for achieving their goals and visions. We'll give you the possibility to conquer your world.
				</p>
			</div>
			<div class="container about-story">
				<h2 class="txt-center header-margin-bottom">Our Story</h2>
				<div class="col-md-6">
					<h3>The Innovators</h3>
					<p>Founded in 2014, CirrusOps exists because of the passion of three former Intuit employees. We loved the positive impact that we could have on small to medium sized businesses, but wanted to be able to see the solutions we created come to life for our clients.</p>
					<h3>The Architects</h3>
					<p>We've worked with a variety of industries and business methods, so we're familiar with your needs. Our team has a combined 20 years of experience with QuickBase platforms. The solutions we provide for you are designed specifically to meet your requirements and are flexible enough to be adjusted as your requirements grow and evolve.</p>
					<h3>The Heroes</h3>
					<p>We know what you're thinking. "How can a young start up be that spirited and innovative? It's just a handful of people in one small office."</p>
					<p>But that's exactly what motivates us. We're constantly charged up because we are addicted to the praise of our clients. We thrive on the knowledge that what we do for you can impact every level of your business. We're always ready for our next challenge or brain teaser. For your business there has to be a better way... and we've found it.</p>
				</div>
				<div class="col-md-6">
					<img src="http://placehold.it/800x900" class="width-100">
				</div>
			</div>
			<div class="container padding-50 about-values">
				<h2 class="txt-center header-margin-bottom">Values</h2>
				<div class="col-md-6 txt-right">
					<h3>Deliver a "Wow" Experience</h3>
					<p>There's the "wow" you experience when something is impossibly difficult and the "wow" you experience when something is better than it ever has been before. We're going for the latter. Our solutions will make you shake your head, lean back, and say, "Wow."</p>
					<h3>Crush Expectations</h3>
					<p>We keep your expectations in mind so that when it comes time to deliver we can completely crush them. If you say, "Jump," we ask, "How high?" But if you're expecting high school all-state results, get ready for Olympic gold instead.</p>
					<h3>Shock with Simplicity</h3>
					<p>We believe that keeping it simple is always better than going over the top. We know you don't need a solution with fancy bells and whistles — just something to take you from point A to point B.</p>
				</div>
				<div class="col-md-6" style="border-left:1px solid #f6f6f6;">
					<h3>Innovate Strategically</h3>
					<p>We believe in innovation with a purpose, and the purpose is to get the job done in the simplest, most efficient way possible. We innovate to make things smoother, not flashier.</p>
					<h3>Be Unapologetically Fun</h3>
					<p>It takes a lot of work to empower our clients all day. We've been known to start a Nerf gun war or two after an intense brainstorming session. After all, what good hard work if you can't break it up with a little Xbox every now and then?</p>
				</div>
			</div>

		</div>
		<!-- End page content -->
	</div>
</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>