<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>

		<!-- Start sub-nav bar -->
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" id="solutionTab">
					<span class="glyphicon width-100" id="nav-hover"></span>
					<li class="active"><a href="company">Company</a></li>
					<li><a href="crew">Crew</a></li>
					<li><a href="insights">Insights</a></li>
					<li><a href="career">Career</a></li>
				</ul>
			</div>
		</div>
		<!-- End sub-nav bar -->


		<!-- Start page content -->
		<div class="page-content">
			<div class="tab-pane">
				<div class="about-banner">
					<div class="about-banner-content-container">
						<div class="row no-margin txt-center">
							<h1 id="txt-white">WE ENABLE BUSINESS HEROES TO CONQUER THEIR WORLD.</h1>
						</div>
					</div>
				</div>
				<div class="container background-gray-pale">
					<div class="row about-text-box no-margin">
						<div class="popout-box-content">
							<h2>About CirrusOps</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vituperata fames, c perfruique temporibus quae caeco sponte eorum cogitavisse nivem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vituperata fames, c perfruique temporibus quae caeco sponte eorum cogitavisse nivem. c perfruique temporibus quae caeco sponte eorum cogitavisse nivem.</p>
							<a href="#" class="button button-default" data-text="Visit Blog">
								<span>Visit Blog</span>
							</a>
						</div>
					</div>
					<div class="row txt-right about-image-box">
						<img src="http://placehold.it/1200x800" class="width-50">
					</div>
				</div>
				<hr class="no-margin">


				<div class="container padding-100">
					<h2 id="txt-blue" class="header-margin-bottom">Company Culture</h2>
					<div class="col-md-4">
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/sDLIAZD.png" class="width-100">
							</div>
							<div class="panel-footer background-red">
								<h3>COMPANY VISION</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur.</p>
							</div>
						</div>
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/8lhFhc1.gif" class="width-100">
							</div>
							<div class="panel-footer background-green">
								<h3>Open Communication</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur. Lorem ipsum dolor sit amet, consectetur.</p>
							</div>
						</div>
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/kFFpuKA.jpg" class="width-100">
							</div>
							<div class="panel-footer background-purple">
								<h3>OPEN COMMUNICATION</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur. Lorem ipsum dolor sit amet, consectetur.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/xOIMvAe.jpg" class="width-100">
							</div>
							<div class="panel-footer background-blue">
								<h3>WE EMPOWER ENTREPRENEURS</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur.</p>
							</div>
						</div>
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/3gXW3L3.jpg" class="width-100">
							</div>
							<div class="panel-footer background-orange">
								<h3>OPEN COMMUNICATION</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur. Lorem ipsum dolor sit amet, consectetur.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/E9RmLPA.jpg" class="width-100">
							</div>
							<div class="panel-footer background-green">
								<h3>WE LISTEN, WE CARE, WE SERVE</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur.</p>
							</div>
						</div>
						<div class="panel panel-default about-panels">
							<div class="panel-body">
								<img src="http://i.imgur.com/o2RVMqm.jpg" class="width-100">
							</div>
							<div class="panel-footer background-blue">
								<h3>WE DO WHAT WE SAY WE'LL DO</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequatur. Mundi, idem expeteretur. Lorem ipsum dolor sit amet, consectetur.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End page content -->
	</div>

</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>