<% include ../partials/head %>
<% include ../partials/header %>
<div class="page-wrapper">
	<div class="connect-banner">
		<div class="col-md-12 vcenter">
			<h1>Connect</h1>
		</div>
	</div>	
	<div class="container-fluid padding-50 background-pattern1">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="txt-center header-margin-bottom" id="txt-blue">How can we help you?</h2>
			<form role="form" id="contact-form" class="contact-form">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="FirstName" autocomplete="off" id="firstName" placeholder="First Name*">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="LastName" autocomplete="off" id="lastName" placeholder="Last Name*">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group bootstrap-timepicker timepicker">
								<input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call you?">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-time"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="How can we help?*"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 txt-center">
						<button type="submit" class="button button-default" data-text="SUBMIT">
							<span>SUBMIT</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="container-fluid padding-50">
		<div class="col-md-8 col-md-offset-2">
			<h2 id="txt-blue">Connect:</h2>
			<p>P: 855-359-3335</p>
			<p>E: CONTACT@CIRRUSOPS.COM</p>
			<p>@CIRRUSOPS</p>
			<img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/536c23c3e4b0e5e2b1f8de7c/1399595974082/?format=300w" class="width-100">
		</div>
	</div>
</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>