<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" id="solutionTab">
					<span class="glyphicon width-100" id="nav-hover"></span>
					<li><a href="company">Company</a></li>
					<li class="active"><a href="crew">Crew</a></li>
					<li><a href="insights">Insights</a></li>
					<li><a href="career">Career</a></li>
				</ul>
			</div>
		</div>
		<div class="page-content">
			<div class="tab-pane">
				<div class="page-banner-thin page-banner crew-banner">
					<div class="row">
						<h1>CREW</h1>
						<div id="underline"></div>
						<h3 id="txt-white">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
					</div>
				</div>
				<div class="container padding-30">
					<h2 class="txt-center header-margin-bottom" id="txt-blue">Our Story</h2>
					<p>CirrusOps exists because of the passion of working with small businesses shared by 3 former QuickBase employees. We formed CirrusOps in 2014 because of the satisfaction we get from helping small companies achieve incredible impacts for their business with software in the cloud, and we wanted more.</p>
					<p>CirrusOps became the first exclusively small business focused development team, founded on a commitment to always think different and be different; and to always provide the most affordable pricing, the quickest turnaround times, and the most personalized service for small business QuickBase users. Simply put, we work with you at your style and pace, to produce beautiful, simple, and innovative solutions that teams love to use.</p>
				</div>
				<div class="container">
					<h2 class="txt-center" id="txt-blue">Our Founders</h2>
					<div class="crew-content no-margin">
						<ul class="crew-grid">
							<li>
								<div class="crew-item crew-img-1">
									<div class="crew-info">
										<p>I am the boss.</p>
										<a href="#"><span class="fa fa-facebook"></span></a>
										<a href="#"><span class="fa fa-twitter"></span></a>
										<a href="#"><span class="fa fa-pinterest"></span></a>
										<a href="#"><span class="fa fa-rss"></span></a>
									</div>
								</div>
								<div class="crew-address">
									<p>ERIC J. HANSEN</p>
									<span>PRESIDENT, COO</span>
								</div>
							</li>
							<li>
								<div class="crew-item crew-img-2">
									<div class="crew-info">
										<p>No, I am the boss.</p>
										<a href="#"><span class="fa fa-facebook"></span></a>
										<a href="#"><span class="fa fa-twitter"></span></a>
										<a href="#"><span class="fa fa-pinterest"></span></a>
										<a href="#"><span class="fa fa-rss"></span></a>
									</div>
								</div>
								<div class="crew-address">
									<p>TANNER NORDSTROM</p>
									<span>CEO</span>                  
								</div>
							</li>
							<li>
								<div class="crew-item crew-img-3">
									<div class="crew-info">
										<p>No, I am.</p>
										<a href="#"><span class="fa fa-facebook"></span></a>
										<a href="#"><span class="fa fa-twitter"></span></a>
										<a href="#"><span class="fa fa-pinterest"></span></a>
										<a href="#"><span class="fa fa-rss"></span></a>
									</div>
								</div>
								<div class="crew-address">
									<p>BRADLEY OLSON</p>
									<span>VP CLIENT SERVICES</span>
								</div>
							</li>
						</ul>
					</div>
					<!-- End crew content -->
				</div>
				<div class="container padding-100">
					<h2 class="txt-center header-margin-bottom" id="txt-blue">Our Crew</h2>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="crew-face">
							<img src="http://placehold.it/235x235" class="width-100">
						</div>
						<h3>Name</h3>
						<p>Description</p>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>