<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>
		<% include ../partials/sub-navigation %>
		<div class="page-content">
			<div class="tab-pane" id="custom">
				<div class="page-banner-thin page-banner background-red">
					<div class="row">
						<h1>Custom Solutions</h1>
						<div id="underline"></div>
						<h3 id="txt-white">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
					</div>
				</div>
				<div class="container padding-30 text-center">
					<h2 id="txt-blue" class="text-center">CirrusOps develops multi-platform custom solutions that your team will rave about and that can rapidly adapt to your needs as they evolve.</h2>
					<h3 class="text-center">Custom Application Platforms we recommend and support:</h3>
					<hr>
					<div class="row flex-center">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56b81204e32140c764caa010/1454903816401/?format=300w" class="width-175 padding-30">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/55b6fbcbe4b03627297e1014/1438055395347/qualtrics?format=300w" class="width-175 padding-30">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/55b6f89ee4b0b495e8823349/1438055111636/knack+logo?format=300w" class="width-175 padding-30">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/55b6f8b4e4b0f4fbddc3da35/1438055140521/salesforce?format=300w" class="width-175 padding-30">
						</div>
					</div>
				</div>
				<hr>
				<div class="container">
					<blockquote>"If you only have a hammer, you tend to see every problem as a nail." -Abraham Maslow</blockquote>
				</div>
				<br>
				<div class="container txt-center">
					<h2>If you can say it, together we can build it.</h2>
					<a href="#" class="button button-default" data-text="GET STARTED"><span>GET STARTED</span></a>
				</div>
			</div>

		</div>
	</div>

</div>


<% include ../partials/sub-footer %>
<% include ../partials/footer %>