<% include ../partials/head %>
<% include ../partials/header %>

<!-- Start header section -->  
<header id="header" class="scrollify" data-home-section="home">
  <div class="header-inner">
    <!-- Header image -->
    <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56b7fd0862cd94cdcd02ca23/1454898530326/ship3.jpg" alt="img">
    <div class="header-overlay">
      <div class="header-content">
        <!-- Start header content slider -->
        <h2 class="header-slide">CirrusOps gives you
          <span>BEAUTIFUL</span>
          <span>SIMPLE</span>
          <span>INNOVATIVE</span>
          CLOUD SOLUTIONS</h2>
          <!-- End header content slider -->  
          <!-- Header btn field -->
          <div class="header-btn-field first-nav">
            <a class="getstarted-btn" href="#about">GET STARTED</a>
          </div>
      </div>
    </div>      
  </div>
</header>
<!-- End header section -->

<!-- Start about section -->
<section id="about" class="scrollify" data-home-section="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Start welcome field -->
        <div class="welcome-field">
          <div class="about-title-field">
            <h2 class="about-title">Welcome to <span>CirrusOps</span></h2>
            <span class="about-title-line"></span>
            <p>What CirrusOps is known for:</p>
          </div>
          <div class="welcome-content">
            <ul class="wc-table">
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-users wc-icon"></span>
                  <h4 class="wc-about-title">connected process consulting</h4>
                  <p>Our process experts work with you to create or refine process documentation, establishing a foundation for process standardization, accountability, training and improvement. We understand that well defined processes often require custom systems and tools that don't get in the way of how you work. CirrusOps designs and develops 'invisible' application ecosystems, integrated and customized for your uniquely connected business processes. We focus on ease of use and simplicity, creating solutions that crews love to use.</p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-line-chart wc-icon"></span>
                  <h4 class="wc-about-title">rapid application development</h4>
                  <p>At CirrusOps, we specialize in a collaborative and iterative rapid development process that involves user testing at the earliest stage possible. We stay honed in on user experience throughout the development process, eliminating the need for hours and hours of initial discovery and scoping meetings. Insights gained from user feedback drive an evolving requirements list that is then prioritized and acted on. This strategy reduces costs, and shrinks go live cycle times from several months to as little as a few days or weeks.</p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-info wc-icon"></span>
                  <h4 class="wc-about-title">training and support</h4>
                  <p>CirrusOps is committed to developing solutions with delightful user experiences that result in across the board user adoption. Not only should business applications, systems, and tools meet the needs of your crews and business processes, users need to be trained and be able to get help when they need it. While we focus on making things easy as possible, we know how critical training and support is for the success of our customers. We offer a variety of customized training and support services that align to a user's learning style and role.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End welcome field -->
      </div>
    </div>
  </div>
</section>
<section class="scrollify">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-field">
          <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <img src="images/whycirrusops.png" alt="img">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
              <div class="about-right wow fadeInRight">
                <div class="about-title-field">
                  <h2 class="about-title">Why <span>CirrusOps</span>?</h2>
                  <span class="about-title-line"></span>
                  <h4><b>CirrusOps enables business heroes to conquer their world.</b></h4> 
                  <p>We are passionate about working with small to medium sized companies. As a small business ourselves, we know how the right systems, tools, processes, and support can make all the difference in the growth and success of an organization. Our focus on small business allow us to be incredibly agile and deliver tremendous business impacts in days or weeks, not months or years.</p>
                  <ul>
                    <li>Our experienced connected process consultants expertly plan and design solutions that crush expectations.</li>
                    <li>Our incredible engineers and developers specialize in creating business applications that deliver a "wow" user experience.</li>
                    <li>Our project managers are highly responsive, helpful, and partner with you to ensure your projects are successful.</li>
                    <li>Our leadership crew keeps the CirrusOps ship on course with our vision to enable our clients to conquer their world with shockingly simple and strategically innovative solutions.</li>
                  </ul>
                  <div class="about-btn-field">
                    <a href="#" class="button button-default" data-text="KNOW MORE"><span>KNOW MORE</span></a>
                  </div>                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- End about section -->

<!-- Start email section -->
<section class="email-section">
  <div class="container">
    <div class="email-content">
      <h2>We write QuickBase tips and tricks, process improvement hacks
and other awesome info in our Insights newsletter. Don't miss out!</h2>
      <div class="section-email">
        <input type="text" placeholder="Email Address" id="section-email-input">
        <a href="#" class="button button-default" data-text="ADD ME">
          <span>ADD ME</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End email section -->

<!-- Clients section -->
<section class="clients">
  <div class="container">
    <div class="row">
      <div class="about-title-field">
        <h2 class="about-title">What our clients are saying</h2>
        <span class="about-title-line"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c11452356fb08f1d3253e2/1455494226854/greencraftinteriorslogo.png">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b>Challenge</b>: Work Orders received from a large international retailer were being entered and updated manually resulting in more than 200+ hours resource hours per month and constant data errors.
            </div>
            <div class="col-md-4">
              <b>Solution</b>: CirrusOps created a QuickBase application to manage the work orders as well as a bidirectional integration service to electronically receive and update work orders with the retailer's back end data systems.
            </div>
            <div class="col-md-4">
              <b>Result</b>: 200+ man hours no longer required, dramatically improved data integrity, and reduced project cycle times.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 client-quote">
              <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c110b459827ef22c067cf9/1455494310910/amatellogo.jpg">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b>Challenge</b>: Complex business processes and data requirements made building our application very difficult when we first started using QuickBase.
            </div>
            <div class="col-md-4">
              <b>Solution</b>: CirrusOps helped us create and improve our application with their consultative approach and fantastic skills with QuickBase. CirrusOps also developed an integration between our TSheets account and our QuickBase application for real time visibility of project labor hours.
            </div>
            <div class="col-md-4">
              <b>Result</b>: Continuous improvement of our project management capabilities and data flow between our other systems and our clients. Automated email alerts and reminders keep our crews on track and reduce our equipment contract costs.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 client-quote">
              <i>“CirrusOps was highly recommended by our QuickBase representative. They helped us create and improve our application with their consultative approach and fantastic skills with QuickBase.”</i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c110c059827ef22c067dc3/1455493312603/onsitemedialogo.png">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b>Challenge</b>: Projects and Work Orders were managed through spreadsheets. Another solution provider was unable to effectively and efficiently solve for our workflow in QuickBase.
            </div>
            <div class="col-md-4">
              <b>Solution</b>: CirrusOps took over management and development of the QuickBase Application and delivered a redesigned and highly effective tool for our crew. Additionally, the weekly meetings, technical support and ongoing improvement consulting provided by CirrusOps have been an added value that helps us keep growing as a business. 
            </div>
            <div class="col-md-4">
              <b>Result</b>: All project management and workflow processes now managed in QuickBase making our crew more efficient and able to take on and complete more projects than before.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 client-quote">
              <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c1145c356fb08f1d325427/1455494237032/drivingsaleslogo.png">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b>Challenge</b>: Work Orders received from a large international retailer were being entered and updated manually resulting in more than 200+ hours resource hours per month and constant data errors.
            </div>
            <div class="col-md-4">
              <b>Solution</b>: CirrusOps created a QuickBase application to manage the work orders as well as a bidirectional integration service to electronically receive and update work orders with the retailer's back end data systems.
            </div>
            <div class="col-md-4">
              <b>Result</b>: 200+ man hours no longer required, dramatically improved data integrity, and reduced project cycle times.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 client-quote">
              <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End client section -->

<!-- Start crew action -->
<section class="crew">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="crew-area">
          <div class="title-area">
            <h2 class="tittle">Our crew</h2>
            <span class="tittle-line"></span>
            <p>CirrusOps exists because of the passion of working with small businesses shared by 3 former QuickBase employees. We formed CirrusOps in 2014 because of the satisfaction we get from helping small companies achieve incredible impacts for their business with software in the cloud, and we wanted more.</p>
            <p>CirrusOps became the first exclusively small business focused development crew, founded on a commitment to always think different and be different; and to always provide the most affordable pricing, the quickest turnaround times, and the most personalized service for small business QuickBase users. Simply put, we work with you at your style and pace, to produce beautiful, simple, and innovative solutions that crews love to use.</p>
          </div>
          <!-- Start crew content -->
          <div class="crew-content">
            <ul class="crew-grid">
              <li>
                <div class="crew-item crew-img-1">
                  <div class="crew-info">
                    <p>I am the boss.</p>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-pinterest"></span></a>
                    <a href="#"><span class="fa fa-rss"></span></a>
                  </div>
                </div>
                <div class="crew-address">
                  <p>ERIC J. HANSEN</p>
                  <span>PRESIDENT, COO</span>
                </div>
              </li>
              <li>
                <div class="crew-item crew-img-2">
                  <div class="crew-info">
                    <p>I am the boss.</p>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-pinterest"></span></a>
                    <a href="#"><span class="fa fa-rss"></span></a>
                  </div>
                </div>
                <div class="crew-address">
                  <p>TANNER NORDSTROM</p>
                  <span>CEO</span>                  
                </div>
              </li>
              <li>
                <div class="crew-item crew-img-3">
                  <div class="crew-info">
                    <p>I am the boss.</p>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-pinterest"></span></a>
                    <a href="#"><span class="fa fa-rss"></span></a>
                  </div>
                </div>
                <div class="crew-address">
                  <p>BRADLEY OLSON</p>
                  <span>VP CLIENT SERVICES</span>
                </div>
              </li>
                <li>
                <div class="crew-item crew-img-4">
                  <div class="crew-info">
                    <p>I am the boss.</p>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-pinterest"></span></a>
                    <a href="#"><span class="fa fa-rss"></span></a>
                  </div>
                </div>
                <div class="crew-address">
                  <p>JACOB SHUMWAY</p>
                  <span>SENIOR DEVELOPER</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- End crew content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start crew action -->







<% include ../partials/footer %>



















