<% include ../partials/head %>
<% include ../partials/header %>

<!-- Start banner section -->  
<header id="header">
  <div class="container-fluid" id="home-banner">
    <div class="container banner-floater">
      <div class="col-xs-12 col-sm-8 col-md-7 banner-floater-inner">
        <div class="banner-content">
          <h1 class="banner-h1">Conquer Your Untamed Data and Processes</h1>
          <h3 class="banner-h3">You need to get the most out of your business data and processes. CirrusOps provides you with simple and beautiful solutions that give you power again.</h3>
          <a href="#" class="button button-default" data-text="GAIN CONTROL NOW"><span>GAIN CONTROL NOW</span></a>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/sub-footer %>
</header>
<!-- End banner section -->

<section id="whyCirrusOps">
  <div class="container">
    <div class="col-md-12">
      <div class="about-title-field header-margin-bottom">
        <h1>Custom Software Solutions and Consultations</h1>
        <span class="about-title-line"></span>
      </div>
      <div class="about-field">
        <div class="row flex-center">
          <div class="col-md-5 col-xs-12">
            <img src="http://placehold.it/800x900" alt="img">
          </div>
          <div class="col-md-7 col-xs-12">
            <div class="about-right">
              <div class="about-title-field">
                <h2 class="about-title">Why <span>CirrusOps</span>?</h2>
                <h3>CirrusOps enables business heroes to conquer their world.</h3> 
                <p>Customers who work with us prosper. With personalized solutions, custom applications, and specialized consultations, imagine how far your business could go.</p>
                <h4>We offer:</h4>
                <ul>
                  <li>Effective solutions that can make a difference within days to weeks</li>
                  <li>Shockingly simple and strategically innovative solutions</li>
                  <li>Highly responsive, helpful partnership to ensure the success of your projects</li>
                  <li>Focused vision to give you the tools you need to conquer any business battles you may encounter</li>
                </ul>
                <div class="about-btn-field">
                  <a href="#" class="button button-default" id="no-abs-margin" data-text="FIND YOUR SOLUTION">
                    <span>FIND YOUR SOLUTION</span>
                  </a>
                </div>                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- End about section -->


<!-- Start about section -->
<section id="about" class="fadeIn">
  <div class="container">
    <div class="col-md-12">
      <!-- Start welcome field -->
      <div class="welcome-field">
        <div class="solution-content-wrapper">
          <h3 class="header-margin-bottom">How CirrusOps simplifies your documentation:</h3>
          <div class="col-md-6 col-md-push-6 padding-30">
            <img src="http://placehold.it/800x900" class="width-100">
          </div>
          <div class="col-md-6 col-md-pull-6 padding-30">
            <div class="solution-row">
              <div class="col-md-2">
                <span class="fa fa-users wc-icon"></span>
              </div>
              <div class="col-md-10">
                <div class="solution-content">
                  <h4>Connected Process Consulting</h4>
                  <p>Your processes are refined into easy to manage pieces.</p>
                </div>
              </div>
            </div>
            <div class="solution-row">
              <div class="col-md-2">
                <span class="fa fa-line-chart wc-icon"></span>
              </div>
              <div class="col-md-10">
                <div class="solution-content">
                  <h4>Rapid Application Development</h4>
                  <p>Your evolving needs are considered from the start to get you working faster and more efficiently.</p>
                </div>
              </div>
            </div>
            <div class="solution-row">
              <div class="col-md-2">
                <span class="fa fa-info wc-icon"></span>
              </div>
              <div class="col-md-10">
                <div class="solution-content">
                  <h4>Training and Support</h4>
                  <p>Every solution has a purpose. CirrusOps is committed to developing solutions that you'll love to use.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- <div class="welcome-content">
            <ul class="wc-table">
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-users wc-icon" id="intro-1"></span>
                  <h4 class="wc-about-title" id="intro-1-und">connected process consulting</h4>
                  <p>Your processes are refined into easy to manage pieces.</p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-line-chart wc-icon" id="intro-2"></span>
                  <h4 class="wc-about-title" id="intro-2-und">rapid application development</h4>
                  <p>Your evolving needs are considered from the start to get you working faster and more efficiently.</p>
                </div>
              </li>
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span class="fa fa-info wc-icon" id="intro-3"></span>
                  <h4 class="wc-about-title" id="intro-3-und">training and support</h4>
                  <p>Every solution has a purpose. CirrusOps is committed to developing solutions that you'll love to use.</p>
                </div>
              </li>
            </ul>
          </div> -->
        </div>
        <!-- End welcome field -->
      </div>
    </div>
  </section>







  <!-- Start email section -->
  <section class="email-section">
    <div class="container">
      <div class="email-content">
        <h2>Subscribe to our blog for more improvement hacks and insights.</h2>
        <div class="section-email">
          <input type="text" placeholder="Email Address" id="section-email-input">
          <a href="#" class="button button-default" data-text="ADD ME">
            <span>ADD ME</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End email section -->

  <!-- Clients section -->
  <section class="clients">
    <div class="container">
      <div class="row">
        <div class="about-title-field">
          <h2 class="about-title">What our clients are saying</h2>
          <span class="about-title-line"></span>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c11452356fb08f1d3253e2/1455494226854/greencraftinteriorslogo.png">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <b>Challenge</b>: Work Orders received from a large international retailer were being entered and updated manually resulting in more than 200+ hours resource hours per month and constant data errors.
              </div>
              <div class="col-md-4">
                <b>Solution</b>: CirrusOps created a QuickBase application to manage the work orders as well as a bidirectional integration service to electronically receive and update work orders with the retailer's back end data systems.
              </div>
              <div class="col-md-4">
                <b>Result</b>: 200+ man hours no longer required, dramatically improved data integrity, and reduced project cycle times.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 client-quote">
                <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c110b459827ef22c067cf9/1455494310910/amatellogo.jpg">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <b>Challenge</b>: Complex business processes and data requirements made building our application very difficult when we first started using QuickBase.
              </div>
              <div class="col-md-4">
                <b>Solution</b>: CirrusOps helped us create and improve our application with their consultative approach and fantastic skills with QuickBase. CirrusOps also developed an integration between our TSheets account and our QuickBase application for real time visibility of project labor hours.
              </div>
              <div class="col-md-4">
                <b>Result</b>: Continuous improvement of our project management capabilities and data flow between our other systems and our clients. Automated email alerts and reminders keep our crews on track and reduce our equipment contract costs.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 client-quote">
                <i>“CirrusOps was highly recommended by our QuickBase representative. They helped us create and improve our application with their consultative approach and fantastic skills with QuickBase.”</i>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c110c059827ef22c067dc3/1455493312603/onsitemedialogo.png">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <b>Challenge</b>: Projects and Work Orders were managed through spreadsheets. Another solution provider was unable to effectively and efficiently solve for our workflow in QuickBase.
              </div>
              <div class="col-md-4">
                <b>Solution</b>: CirrusOps took over management and development of the QuickBase Application and delivered a redesigned and highly effective tool for our crew. Additionally, the weekly meetings, technical support and ongoing improvement consulting provided by CirrusOps have been an added value that helps us keep growing as a business. 
              </div>
              <div class="col-md-4">
                <b>Result</b>: All project management and workflow processes now managed in QuickBase making our crew more efficient and able to take on and complete more projects than before.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 client-quote">
                <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <img src="http://static1.squarespace.com/static/534f59b8e4b0bcfb2b43aa65/t/56c1145c356fb08f1d325427/1455494237032/drivingsaleslogo.png">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <b>Challenge</b>: Work Orders received from a large international retailer were being entered and updated manually resulting in more than 200+ hours resource hours per month and constant data errors.
              </div>
              <div class="col-md-4">
                <b>Solution</b>: CirrusOps created a QuickBase application to manage the work orders as well as a bidirectional integration service to electronically receive and update work orders with the retailer's back end data systems.
              </div>
              <div class="col-md-4">
                <b>Result</b>: 200+ man hours no longer required, dramatically improved data integrity, and reduced project cycle times.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 client-quote">
                <i>"Working with CirrusOps has been a great experience. They provided valuable consulting from beginning to end and completed the project in less time and for a much lower cost than estimates from other service providers."</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End client section -->

  <!-- Start crew action -->
  <section class="home-contact-us">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-2 home-questions">
        <h2 class="header-margin-bottom txt-center" id="txt-orange">Questions?</h2>
        <form role="form" id="contact-form" class="contact-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="FirstName" autocomplete="off" id="firstName" placeholder="First Name*">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="LastName" autocomplete="off" id="lastName" placeholder="Last Name*">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group bootstrap-timepicker timepicker">
                  <input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call you?">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-time"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="How can we help?*"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="button button-default pull-right" data-text="SUBMIT">
                <span>SUBMIT</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Start crew action -->







  <% include ../partials/footer %>



















