<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" id="solutionTab">
					<span class="glyphicon width-100" id="nav-hover"></span>
					<li><a href="quickbase">QuickBase®</a></li>
					<li><a href="spreadsheet">Spreadsheet</a></li>
					<li><a href="consulting">App Software Consulting</a></li>
					<li><a href="custom-solutions">Custom Solutions</a></li>
					<li class="active"><a href="integrations">Integrations</a></li>
				</ul>
			</div>
		</div>
		<div class="page-content">
			<div class="tab-pane" id="integration">
				<div class="page-banner-thin page-banner background-orange">
					<div class="row">
						<h1>Integrations</h1>
						<div id="underline"></div>
						<h3 id="txt-white">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
					</div>
				</div>
				<div class="container padding-30">
					<h2 id="txt-blue">Integration</h2>
					<p>We provide solution consultation, application design, development, and customization as well as Training Services for your Admin and/or End Users. Our experience crosses nearly every industry and function. We speak your language and are highly skilled at translating your workflows, processes, or business operations requirements into user-intuitive connected process application structure and design. Below are some areas we can help:</p>
				</div>
			</div>			
		</div>
	</div>

</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>
