<% include ../partials/head %>
<% include ../partials/header %>
<div class='page-navbar' style="position:fixed;z-index:1;width:100%;">
	<div class='container'>
		<ul class="nav nav-tabs" id="solutionTab">
			<span class="glyphicon width-100" id="nav-hover"></span>
			<li id="quickbasenav"><a href="#section-quickbase">QuickBase®</a></li>
			<li id="consultingnav"><a href="#section-consulting">App Software Consulting</a></li>
			<li id="spreadsheetnav"><a href="#section-spreadsheets">Spreadsheets</a></li>
		</ul>
	</div>
</div>
<div class="page-wrapper" style="margin-top: 44px;">
	<div class='container-fluid'>
		<div class='container-fluid'>
			<div class="page-content">
				<div class="tab-pane active" id="quickbase">
					<div class="popout-banner">
						<div class="row quickbase-banner">
							<div class="popout-box background-gray-pale">
								<div class="popout-box-content">
									<h1>H1 header</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Successerit pedalis. Sollicitare nulli vos metrodorus, intervalla declarant quorum eveniet homero pervenias. Efficeretur quosdam cur illas terminari referta, torquentur placatae. Probaturum humili formidines utrumque ea exaudita dissentientium stoici, referenda voluptatibus partus eamque expeteretur repugnantibus silano angusti loca horrida, oporteat argumentum, contentam vix.
									</p>
									<a href="#" class="button button-default" data-text="Call to action button">
										<span>Call to action button</span>
									</a>
								</div>
							</div>
						</div>
						<div class="popout-banner-image"></div>
					</div>
					<div class="whyquickbase-container container-fluid padding-100">
						<div class="container">
							<h1 class="txt-center" id="txt-green">
								CirrusOps Solutions
							</h1>
							<div class="row">
								<div class="col-md-3 icon-wrapper">
									<div class="icon-box">
										<img src="/images/database.png">
									</div>
									<p class="txt-center">Increase Data Visibility</p>
								</div>
								<div class="col-md-3 icon-wrapper">
									<div class="icon-box">
										<img src="/images/computer.png">
									</div>
									<p class="txt-center">Automate Processes and Workflow</p>
								</div>
								<div class="col-md-3 icon-wrapper">
									<div class="icon-box">
										<img src="/images/unite-team.png">
									</div>
									<p class="txt-center">Unite Teams</p>
								</div>
								<div class="col-md-3 icon-wrapper">
									<div class="icon-box">
										<img src="/images/line-graph.png">
									</div>
									<p class="txt-center">Improve Performance Levels</p>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid padding-50 background-gray-pale" id="section-quickbase">
						<div class="container flex-center">
							<div class="col-xs-12 col-md-5 header-margin-bottom">
								<h2>QuickBase</h2>
								<p>If you're frustrated with any part of your business process, this is the solution you didn't know you were looking for. The purpose of QuickBase is to provide users with a custom solution that is specialized to fit the problems they are having. QuickBase is user friendly, reliable, and useful in any situation. CirrusOps is here to make sure that your QuickBase solution is exactly the one that you're looking for.</p>
								<a class="button button-default" data-text="Learn More" href="/solution/quickbase"><span>Learn More</span></a>
							</div>
							<div class="col-xs-12 col-md-1"></div>
							<div class="col-xs-12 col-md-5">
								<img class="width-100" src="http://placehold.it/1200x800">
							</div>
						</div>
					</div>

					<div class="container-fluid padding-50" id="section-consulting">
						<div class="container flex-center">
							<div class="col-xs-12 col-md-5 col-md-push-6 header-margin-bottom">
								<h2>App Software Consulting</h2>
								<p>With CirrusOps' software consulting, you can expect a software solution customized for you. We take your workflows and business operation requirements and translate them into an easy to use structure and design. Our phased approach makes your needs the first priority in these designs, so anything you have to say we want to hear. This one will be a big win for your business.</p>
								<a class="button button-default" data-text="Learn More" href="/solution/consulting"><span>Learn More</span></a>
							</div>
							<div class="col-md-1"></div>
							<div class="col-xs-12 col-md-5 col-md-pull-6">
								<img class="width-100" src="http://placehold.it/1200x800">
							</div>
						</div>
					</div>

					<div class="container-fluid padding-50 background-gray-pale" id="section-spreadsheets">
						<div class="container flex-center">
							<div class="row header-margin-bottom">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<h2 class="text-center">Spreadsheets</h2>
									<p>Spreadsheets are an overused, misunderstood tool often designed to solve a problem. But these "tools" create more problems than they solve, making them one of the least viable business strategies. Spreadsheets tend to spread data around, not collect it in a way that actually makes sense. So are you tired of feeling like you're working hard but lacking results? Find the spreadsheet solution with CirrusOps. How else might spreadsheets be holding your business back from its full potential?</p>
									<a class="button button-default" data-text="Learn More" href="/solution/spreadsheet"><span>Learn More</span></a>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<img class="width-100" src="http://placehold.it/1200x800">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../partials/sub-footer %>
<% include ../partials/footer %>