<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" id="solutionTab">
					<span class="glyphicon width-100" id="nav-hover"></span>
					<li class="active" id="first-nav"><a href="quickbase">QuickBase®</a></li>
					<li><a href="spreadsheet">Spreadsheet</a></li>
					<li><a href="consulting">App Software Consulting</a></li>
					<li><a href="custom-solutions">Custom Solutions</a></li>
					<li><a href="integrations">Integrations</a></li>
				</ul>
			</div>
		</div>
		<div class="page-content">
			<div class="tab-pane active" id="quickbase">
				<div class="popout-banner">
					<div class="row quickbase-banner">
						<div class="popout-box background-purple">
							<div class="popout-box-content">
								<h1 id="txt-white">QuickBase Development</h1>
								<p id="txt-white">QuickBase is a versatile software solution that is beneficial for a variety of industries and businesses. Through QuickBase we develop a customized application designed to solve your company's pain points. Because QuickBase is on the cloud we offer real time, reliable solutions that can give you actual results in days or weeks, instead of months or years.</p>
								<a href="#" class="button button-default" data-text="Get Started With QuickBase">
									<span>Get Started With QuickBase</span>
								</a>
							</div>
						</div>
					</div>
					<div class="popout-banner-image"></div>
				</div>
				<div class="whyquickbase-container container-fluid padding-100">
					<div class="container">
						<h1 class="txt-center" id="txt-green">
							Why QuickBase and CirrusOps
						</h1>
						<div class="row">
							<div class="col-md-3 icon-wrapper">
								<div class="icon-box">
									<img src="/images/database.png">
								</div>
								<p class="txt-center">Increase Data Visibility</p>
							</div>
							<div class="col-md-3 icon-wrapper">
								<div class="icon-box">
									<img src="/images/computer.png">
								</div>
								<p class="txt-center">Automate Processes and Workflow</p>
							</div>
							<div class="col-md-3 icon-wrapper">
								<div class="icon-box">
									<img src="/images/unite-team.png">
								</div>
								<p class="txt-center">Unite Teams</p>
							</div>
							<div class="col-md-3 icon-wrapper">
								<div class="icon-box">
									<img src="/images/line-graph.png">
								</div>
								<p class="txt-center">Improve Performance Levels</p>
							</div>
						</div>
					</div>
				</div>
				<div class="features-container container-fluid padding-50">
					<div class="container">
						<h1 class="txt-center" id="txt-blue">
							Features
						</h1>
						<div class="row padding-50">
							<div class="col-md-6">
								<img src="http://placehold.it/800x500" class="width-100">
							</div>
							<div class="col-md-6">
								<h4>Custom App Solutions</h4>
								<p>Have apps created and designed based on the specific needs of your business. Every app is designed for functionality and simplicity with the end user in mind.</p>
								<h4>Interactive Reports</h4>
								<p>View your data, adjust how you see reports, and prioritize what is most important through interactive reports. Data becomes simpler to analyze, understand, and apply to real life issues and solutions.</p>
							</div>
						</div>
						<div class="row padding-50">
							<div class="col-md-6">
								<h4>Personalized Dashboards</h4>
								<p>Adjust what your employees see and use with personalized dashboards. Eliminate wasted time and distractions by keeping all of the important information in one place.</p>
							</div>
							<div class="col-md-6">		
								<h4>Integration Capability</h4>
								<p>Connect with external applications like Dropbox and Google Drive. Store all of your important information and data in one convenient location.</p>
							</div>
							<div class="col-md-12">
								<img src="http://placehold.it/800x500" class="width-100">
							</div>
						</div>
					</div>
				</div>
				<div class="uses-container container-fluid padding-50">
					<div class="container">
						<h1 class="txt-center" id="txt-red">
							Uses for QuickBase
						</h1>
						<div class="row padding-50">
							<div class="col-md-6">
								<ul>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/project-management.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Project Management</h4>
											<p>Description</p>
										</div>
									</li>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/sales-lead-management.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Sales Lead Management</h4>
											<p>Description</p>
										</div>
									</li>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/human-resources.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Human Resources</h4>
											<p>Description</p>
										</div>
									</li>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/event-management.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Event Management</h4>
											<p>Description</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/resource-allocation.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Resource Allocation</h4>
											<p>Description</p>
										</div>
									</li>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/opportunity-management.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>Opportunity Management</h4>
											<p>Description</p>
										</div>
									</li>
									<li class="uses-list">
										<div class="icon-box-small">
											<img src="/images/it-helpdesk.png" class="width-100">
										</div>
										<div class="uses-text-box">
											<h4>IT & Help Desk</h4>
											<p>Description</p>
										</div>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>

<% include ../partials/sub-footer %>
<% include ../partials/footer %>