<% include ../partials/head %>
<% include ../partials/header %>

<div class="page-wrapper">

	<div class='container-fluid'>
		<div class='row page-navbar'>
			<div class='container'>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a data-target="#quickbase" aria-controls="quickbase" role="tab" data-toggle="tab">QUICKBASE</a></li>
					<li role="presentation"><a data-target="#spreadsheet" aria-controls="spreadsheet" role="tab" data-toggle="tab">SPREADSHEET</a></li>
					<li role="presentation"><a data-target="#consulting" aria-controls="consulting" role="tab" data-toggle="tab">APP SOFTWARE CONSULTING</a></li>
					<li role="presentation"><a data-target="#custom" aria-controls="custom" role="tab" data-toggle="tab">CUSTOM SOLUTIONS</a></li>
					<li role="presentation"><a data-target="#integration" aria-controls="integration" role="tab" data-toggle="tab">INTEGRATIONS</a></li>
				</ul>
			</div>
		</div>
		<div class="page-content">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="quickbase">Home ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome ContentHome Content</div>
				<div role="tabpanel" class="tab-pane" id="spreadsheet">Profile Content</div>
				<div role="tabpanel" class="tab-pane" id="consulting">Messages Content</div>
				<div role="tabpanel" class="tab-pane" id="custom">Settings Content</div>
				<div role="tabpanel" class="tab-pane" id="integration">Integration Content</div>
			</div>
			
		</div>
	</div>

</div>

<% include ../partials/footer %>