<% include ../../partials/landing-head %>
<% include ../../partials/landing-header %>
<div class="landing-banner landing-banner-utah">
	<div class="col-md-12 vcenter">
		<h1>Don’t Work for Your Data, Make Your Data Work for You</h1>
	</div>
</div>
<div class="container-fluid padding-50">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h3>See how a customized QuickBase solution can revolutionize your business. With the power of QuickBase and CirrusOps you can:</h3>
				<ul class="list-circle">
					<li>Streamline workflows</li>
					<li>Record and track typically lost data</li>
					<li>Receive reports that are specific to your business needs</li>
					<li>Connect employees through personalized dashboards </li>
				</ul>
				<p>Complete the form to connect with us and schedule your free demonstration. Find out why thousands of businesses choose to grow through QuickBase applications.</p>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-6 padding-30 request-wrapper">
				<h2 id="txt-red" class="header-margin-bottom">Request a Demo</h2>
				<form role="form" id="contact-form" class="contact-form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="FirstName" autocomplete="off" id="firstName" placeholder="First Name*">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="LastName" autocomplete="off" id="lastName" placeholder="Last Name*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group bootstrap-timepicker timepicker">
									<input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call you?">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-time"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="How can we help?*"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 txt-center">
							<a class="cirrus-button" href="#">
								submit
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid padding-50 background-gray-pale">
	<div class="container">
		<blockquote>
			<p style="font-size:25px">“CirrusOps listened to our needs and put a program together that not only met them, but was simple to use. Our business is so much more efficient as a result!” -Driving Sales
			</p>
		</blockquote>
	</div>
</div>







	<% include ../../partials/landing-sub-footer %>
	<% include ../../partials/landing-footer %>