<% include ../../partials/landing-head %>
<% include ../../partials/landing-header %>
<div class="landing-banner" style="margin-top:40px;">
	<img src="http://toputahcolleges.com/vph/w96/uploads/2015-02/1429899273_Banner_750X200_No_2.jpg" class="width-100">
</div>
<div class="container-fluid">
	<div class="container">
		<div class="row">
			<h1>UTAH LANDING PAGE 1</h1>
		</div>
		<div class="row">
			<h2>Content</h2>
		</div>
	</div>
</div>

<% include ../../partials/landing-sub-footer %>
<% include ../../partials/landing-footer %>