<% include ../../partials/landing-head %>

<body>
	<!-- Start scroll top button -->
	<a class="scrollToTop" href=""><i class="fa fa-chevron-up"></i></a>
	<!-- End scroll top button -->
	<div class="nav-wrapper">
		<section class="landing-navbar">
			<div class="container">
				<div class="col-md-6 col-sm-6 col-xs-12 landing-logo">
					<a href="/utah"><img src="/images/logo_v2.png" style="height:50px"></a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 txt-right landing-cta">
					<a class="cirrus-button" style="margin-top:0px;">demo</a>
				</div>
			</div>
		</section>
	</div>

	<div class="landing-banner landing-banner-utah2">
		<div class="col-md-12 vcenter">
			<h1>QuickBase Solutions for Utah Businesses</h1>
			<p>See how a customized QuickBase solution from CirrusOps can revolutionize your business. Get started with a free consultation.</p>
			<div class="landing-banner-cta">
				<a href="#request-demo" class="cirrus-button">Request a Demo</a>
			</div>
		</div>
	</div>

	<div class="container-fluid padding-50">
		<div class="container">
			<div class="row">
				<h2 class="txt-center header-margin-bottom">How QuickBase Solutions Can Help</h2>
				<div class="col-md-6">
					<img src="https://placehold.it/800x500" class="width-100">
				</div>
				<div class="col-md-6">
					<ul>
						<li>
							<h4>Centralized Information</h4>
							<p>Keep all of your employee and client information in one place. QuickBase offers a secure, cloud based platform where information won't get lost or be compromised.</p>
						</li>
						<li>
							<h4>Increased Data Visibility</h4>
							<p>QuickBase makes it simpler and faster to view your data in an easy, understandable format. Get the specific reports you need to make the best judgment calls for your business.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid padding-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<img src="https://placehold.it/800x500" class="width-100">
				</div>
				<div class="col-md-6 col-md-pull-6">
					<ul>
						<li>
							<h4>Automated Processes and Workflows</h4>
							<p>Whether you specialize in sales, customer service, manufacturing, IT, or anything else, QuickBase can help to make your workflow more direct.</p>
						</li>
						<li>
							<h4>Improved Performance Levels</h4>
							<p>When you can manage employee work like sales leads and customer service requests, you can see where the gaps are and what you can do about it. QuickBase allows the visibility and collaboration your teams need to get on the same page.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid padding-50">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h3>See how a customized QuickBase solution can revolutionize your business. With the power of QuickBase and CirrusOps you can:</h3>
					<ul class="list-circle">
						<li>Streamline workflows</li>
						<li>Record and track typically lost data</li>
						<li>Receive reports that are specific to your business needs</li>
						<li>Connect employees through personalized dashboards </li>
					</ul>
					<p>Complete the form to connect with us and schedule your free demonstration. Find out why thousands of businesses choose to grow through QuickBase applications.</p>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-6 padding-30 request-wrapper" id="request-demo" ng-controller="ScrollController2">
					<h2 id="txt-red" class="header-margin-bottom">Request a Demo</h2>
					<form role="form" id="contact-form" class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="FirstName" autocomplete="off" id="firstName" placeholder="First Name*">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" name="LastName" autocomplete="off" id="lastName" placeholder="Last Name*">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group bootstrap-timepicker timepicker">
										<input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call?">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-time"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="How can we help?*"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 txt-center">
								<a class="cirrus-button" href="#">
									submit
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid padding-50 background-gray-pale">
		<div class="container">
			<blockquote class="landing-quote">
				<p>“CirrusOps listened to our needs and put a program together that not only met them, but was simple to use. Our business is so much more efficient as a result!” -Driving Sales
				</p>
			</blockquote>
		</div>
	</div>







	<% include ../../partials/landing-sub-footer %>
	<% include ../../partials/landing-footer %>