<% include ../../partials/landing-head %>

<body>
	<!-- Start scroll top button -->
	<a class="scrollToTop" href=""><i class="fa fa-chevron-up"></i></a>
	<!-- End scroll top button -->
	<div class="nav-wrapper">
		<section class="landing-navbar">
			<div class="container">
				<div class="col-md-6 col-sm-6 col-xs-12 landing-logo">
					<a href="/solar"><img src="/images/logo_v2.png" style="height:50px"></a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 txt-right landing-cta">
					<a class="landing-button" style="margin-top:0px;">demo</a>
				</div>
			</div>
		</section>
	</div>

	<div class="landing-banner-solar1">
		<div class="container">
			<div class="col-md-6 vcenter">
				<h1>Discover Customized QuickBase Solutions for Your Solar Business</h1>
				<h4 id="txt-white">QuickBase is the one stop solution for all of your business pain points. From data integration to workflow automation, an application from QuickBase and CirrusOps can provide what you need. Request a demo to see how.</h4>
				<div class="landing-banner-cta">
					<a href="#request-demo" class="landing-button">Request a Demo</a>
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-5 landing-banner-form1">
				<p id="txt-white"><span id="txt-yellow">CONTACT US</span> TO</p>
				<h2 id="txt-white" class="header-margin-bottom">REQUEST A DEMO</h2>
				<form role="form" class="demo-form contact-form" ng-controller="FormController">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="firstName" autocomplete="off" id="firstName" placeholder="First Name*">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="lastName" autocomplete="off" id="lastName" placeholder="Last Name*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="input-group bootstrap-timepicker timepicker">
									<input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call you?">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-time"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control textarea" rows="3" name="message" id="Message" placeholder="How can we help?*"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 txt-center">
							<button class="landing-button" type="submit">
								submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container-fluid padding-50">
		<div class="container">
			<div class="row">
				<h2 class="txt-center header-margin-bottom">How Can QuickBase Revolutionize a Solar Company?</h2>
				<hr />
				<div class="col-md-6">
					<ul>
						<li class="uses-list">
							<div class="icon-box-small">
								<img src="/images/project-management.png" class="width-100">
							</div>
							<div class="uses-text-box">
								<h4>Centralized Information</h4>
								<p>QuickBase secures all of your important internal data in one location. Any information you need can be quickly and easily accessed through just one software solution.</p>
							</div>
						</li>
						<li class="uses-list">
							<div class="icon-box-small">
								<img src="/images/sales-lead-management.png" class="width-100">
							</div>
							<div class="uses-text-box">
								<h4>Increased Data Visibility</h4>
								<p>Use charts and graphs to get a simpler representation of your data. You can also create specific reports to see where the bottlenecks are in your processes.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li class="uses-list">
							<div class="icon-box-small">
								<img src="/images/human-resources.png" class="width-100">
							</div>
							<div class="uses-text-box">
								<h4>Automated Processes and Workflows</h4>
								<p>nstead of having one software for sales, one for customer service, and one for IT, you can bundle and automate your workflows together. Avoid redundancies and overlap with a QuickBase application solution.</p>
							</div>
						</li>
						<li class="uses-list">
							<div class="icon-box-small">
								<img src="/images/event-management.png" class="width-100">
							</div>
							<div class="uses-text-box">
								<h4>Improved Performance Levels</h4>
								<p>Assign and organize tasks to specific employees to cut out any miscommunication. Make work easier for the end user by having a simpler, more direct design for inputting information.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" id="request-demo" ng-controller="ScrollController2">
		<div class="row">
			<div class="col-md-6 col-md-push-6 padding-50 padding-side-30 background-blackish">
				<h2 id="txt-white" class="header-margin-bottom txt-center">Request a Demo</h2>
				<form class="demo-form" ng-controller="FormController">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="firstName" autocomplete="off" id="firstName" placeholder="First Name*">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="lastName" autocomplete="off" id="lastName" placeholder="Last Name*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail*">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input id="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group bootstrap-timepicker timepicker">
									<input id="contactTime" type="text" name="contactTime" class="form-control input-small" placeholder="What time should we call you?">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-time"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control textarea" rows="3" name="message" id="Message" placeholder="How can we help?*"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 txt-center">
							<button class="landing-button" type="submit">
								submit
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 col-md-pull-6 landing-image-right">
			</div>
		</div>
	</div>






	<% include ../../partials/landing-sub-footer %>
	<% include ../../partials/landing-footer %>